[2020-08-11 11:34] SantosGuillamot commented on #536
Is there a way to test if that's what is causing the bug? I've commented that lines in Frontity connect in my local project but it doesn't seem to fix the issue. Should that be enough to test it? These are the lines I'm commenting: https://github.com/frontity/frontity/blob/dev/packages/connect/src/scheduler.js#L85-91

[2020-08-11 11:55] luisherranz commented on #536
Yes, I guess that should've worked.

Can you comment all of them? https://github.com/frontity/frontity/blob/dev/packages/connect/src/scheduler.js#L72-L102

[2020-08-11 12:20] SantosGuillamot commented on #536
I'm afraid it doesn't seem to solve it neither.

[2020-08-11 16:46] luisherranz commented on #536
Ok, then my hypothesis was wrong. I'll investigate it next week.

[2020-08-12 22:00] #402 closed, assigned to nobody

[2020-08-18 07:13] hexaltation opened #538 "Prompted even if `--no-prompt` option is set."
**_Bug report_**

Hello,
When passing the following command :

`$ npx frontity create --no-prompt --theme @frontity/mars-theme myapp`

or

`$ npx frontity create -n --theme @frontity/mars-theme myapp`

I'm prompted back

`? Do you want to receive framework updates by email? (y/N)`

**Expected behavior**

The cli should apply a default behaviour which must be set NO as answer to the question.

**Ob

[2020-08-18 17:56] michalczaplinski commented on #434
The exact issue is not that complicated actually, I think.

We just need add a check here: https://github.com/frontity/frontity/blob/107d3543ce5463186809b7e6f50ca31ffbdc107d/packages/frontity/src/cli/create-package.ts#L80-L80 to make sure that we are checking that `promptUser` is true before we ask for the namespace.

We are doing already doing something similar e.g in the `create` command here: h

[2020-08-18 18:02] michalczaplinski commented on #538
Hi @hexaltation 👋 !

Thanks for the bug report - you're right, this should not happen! I think you got a good grip on the problem so I just wanted to point out to

1. The issue seems to be that we are prompting the user to subscribe to the newsletter regardless of whether `promptUser` is true or not here: https://github.com/frontity/frontity/blob/0636532b948a8a8aaaca2a25c9b89b5ea4891b97/packages/f

[2020-08-19 06:23] mymakarim opened #539 "Cannot fetch subcategories in category page"
I have a website [https://componentity.com](https://componentity.com), where in the category page [https://componentity.com/category/tailwindcss/](https://componentity.com/category/tailwindcss/) I want to show subcategories in the sidebar. I could not find a way to do it!

github: [https://github.com/componentity/componentity-website](https://github.com/componentity/componentity-website)

[2020-08-19 14:01] devnoot commented on #534
@luisherranz I think that was the issue! I had my project running most of the day yesterday using the command you provided and no crashes 🚀

[2020-08-19 14:01] #534 closed, assigned to nobody

[2020-08-20 13:35] mburridge commented on #538
@hexaltation While awaiting a fix for this you can can create a text file, called say `response.txt` containing just the character 'n'. Then in your bash scripts do this to avoid all prompts:

`npx frontity create myproject -n < response.txt`

[2020-08-20 13:39] luisherranz commented on #538
Good trick @mburridge 👍

[2020-08-20 13:40] luisherranz commented on #534
I'm glad it's working now 🙂

[2020-08-20 13:47] luisherranz commented on #539
Hey @mymakarim, we've moved all the questions to the community forum. That way, other community members can learn or answer them. Please open a thread in the [Dev Questions](https://community.frontity.org/c/dev-talk-questions/3) category 🙂

[2020-08-20 13:48] #539 closed, assigned to nobody

[2020-08-23 13:40] hexaltation commented on #434
@michalczaplinski thank you for your advices.
I will unify the pattern used in create.ts and create-package.ts files.

But writing the fix, I'm wondering if `name` is really mandatory when `--no-prompt` option is set, as the code provides a default value for it : `"my-frontity-project"`.
Let me know. I'll adjust the code and the tests following your answer.

As i'm fixing both, #434 and #538 do yo

[2020-08-24 15:18] michalczaplinski commented on #434
Let me know. I'll adjust the code and the tests following your answer.

@luisherranz @DAreRodz Would you like to weigh in here?

I think that the most reasonable behaviour would be to require the user to provide both the `--name` and `--namespace` when running with `--no-prompt`. I feel like having a default that is not transparent to the user is not a good idea. Some might not even realize that t

[2020-08-24 15:37] #424 closed, assigned to michalczaplinski

[2020-08-24 15:38] luisherranz commented on #536
I was not able to research this last week. I'll do it this one.

[2020-08-24 15:39] luisherranz commented on #535
I'll take care of this.

[2020-08-25 09:40] luisherranz commented on #434
I agree with @michalczaplinski.

@hexaltation, please get rid of the `my-frontity-project` default to avoid confusion 🙂

By the way, the logic it should follow is represented by the graph found in https://docs.frontity.org/frontity-cli/environment-variables – [(Image)](https://gblobscdn.gitbook.com/assets%2F-LZ-alQBwUYv-HkbN8zV%2Fsync%2F0e42f79d4b3ba53518fae46167d349135cb00cb1.png?alt=media)

[2020-08-26 08:22] luisherranz commented on #434
@hexaltation I'm currently working on a PR that affects those files so I think I can do the fix myself. I'll let you know if I finally fix it 🙂

[2020-08-26 10:04] luisherranz commented on #538
It will be fixed in https://github.com/frontity/frontity/pull/545.

[2020-08-26 10:04] luisherranz commented on #434
It will be fixed in https://github.com/frontity/frontity/pull/545. I left `--namespace` as optional for now.

[2020-08-27 09:47] #535 closed, assigned to luisherranz

[2020-08-27 10:58] luisherranz commented on #536
The problem is the initialization we are doing:

[code]

versus the recommended by Google:

[code]

When the recommended initialization is used, three internal events appear on the page load:

<img width="198" alt="Screenshot 2020-08-27 at 12 54 17" src="https://user-images.githubusercontent.com/3305402/91433997-75dcce00-e864-11ea-925b-11426ad52e3b.png">

But with our initialization, the "Containe

[2020-08-28 06:49] #434 closed, assigned to nobody

[2020-08-28 06:49] #538 closed, assigned to nobody

[2020-08-28 11:10] SantosGuillamot commented on #536
I've been testing it an it seems that if we include both of them everything works correctly:
[code]
If I just include the last one, it doesn't trigger GTM at all. This way, it seems the pageviews are handled correctly, the container is loaded and the click events are tracked properly. Apart from that, it seems the GTM script is loaded just once.

Do you think this could cause any inconvenience? @D

[2020-08-31 06:37] #403 closed, assigned to DAreRodz

[2020-08-31 09:40] luisherranz commented on #536
This is the actual code of the GTM script:

[code]

So it seems like the only thing we're missing is this line:

[code]

If we want to do that in SSR, we could add it inside a `<script>` tag:

[code]

---

To be honest, I don't remember right now how to use `<script>` in React but it can be done 😄

[2020-08-31 14:51] SantosGuillamot commented on #536
You're right @luisherranz , just with that code you posted is enough. This is the way I added the script:
[code]

[2020-09-02 09:02] DAreRodz commented on #536
That way the script would run only when the HTML is parsed just after SSR, which is totally fine BTW. :+1:

[2020-09-02 09:09] DAreRodz commented on #536
GTM does send an initial page view event, but that doesn't interact with our system, or it does?

I mean, GTM has its own page view event and Frontity has its own event as well, you just have to choose which event you want to use as the trigger of your GTM container tags.

[2020-09-04 09:17] SantosGuillamot opened #556 "Research - Server Extensibility [13pt]"
**Feature**: [Server Extensibility](https://community.frontity.org/t/server-extensibility/2810)

[2020-09-04 09:32] SantosGuillamot opened #557 "Expose the HTML template, the render function and the App in libraries. [5pt]"
This is part of the [AMP feature](https://community.frontity.org/t/amp-package/388/). For full context please check out the [final Implementation proposal](https://community.frontity.org/t/amp-package/388/10?u=santosguillamot).

---

## HTML template

The Google AMP framework needs a specific HTML template because a normal HTML document doesn't validate.

For that reason, the `@frontity/amp` packa

[2020-09-04 09:33] SantosGuillamot opened #558 "Overwrite the HTML template. [5pt]"
This is part of the [AMP feature](https://community.frontity.org/t/amp-package/388/). For full context please check out the [final Implementation proposal](https://community.frontity.org/t/amp-package/388/10?u=santosguillamot).

---

The Google AMP framework needs a specific HTML template because a normal HTML document doesn't validate.

For that reason, the `@frontity/amp` package needs to be abl

[2020-09-04 09:34] SantosGuillamot opened #559 "Move all the CSS to the <head>. [5pt]"
This is part of the [AMP feature](https://community.frontity.org/t/amp-package/388/). For full context please check out the [final Implementation proposal](https://community.frontity.org/t/amp-package/388/10?u=santosguillamot).

---

The Google AMP framework requires that all the CSS is placed in a `<style>` tag of the head.

For that reason, the `@frontity/amp` package needs to use Emotion's `ext

[2020-09-04 09:35] SantosGuillamot opened #560 "Change the render to be renderToStaticMarkup. [3pt]"
This is part of the [AMP feature](https://community.frontity.org/t/amp-package/388/). For full context please check out the [final Implementation proposal](https://community.frontity.org/t/amp-package/388/10?u=santosguillamot).

---

The Google AMP framework doesn't need the custom `data-` attributes added by React, so instead of using `renderToString`, the `@frontity/amp` package needs to make Fr

[2020-09-04 09:50] SantosGuillamot opened #561 "Support for auth headers in Source packages [8pt]"
**Feature:** [Support for custom headers in Source packages](https://community.frontity.org/t/support-for-custom-headers-in-source-packages/2678).
**User Story**: Be able to access custom headers that source packages must send when requesting data.

[**Sprint Card**](https://github.com/orgs/frontity/projects/9#card-44888109)

[2020-09-04 09:57] SantosGuillamot opened #562 "Add e2e for the preview. [13pt]"
**Feature:** [WordPress preview support](https://community.frontity.org/t/wordpress-preview-support/2419).
**User Story**: Be able to use a reliable version of the preview.

[**Sprint Card**](https://github.com/orgs/frontity/projects/9#card-44889149)

[2020-09-04 11:32] SantosGuillamot opened #563 "Research - Frontity Hooks [21pt]"
**Feature**: [Frontity Hooks](https://community.frontity.org/t/frontity-hooks/2811)

[2020-09-07 16:13] luisherranz commented on #536
I guess people would have to configure the Google Analytic pageviews something like this:

<img width="974" alt="Screenshot 2020-09-07 at 18 12 29" src="https://user-images.githubusercontent.com/3305402/92405421-cfcb7680-f135-11ea-860c-9db49099997e.png">

_I'm not sure I got the variables right, but you get the idea._

Right?

[2020-09-07 16:14] luisherranz commented on #536
And obviously not add this:

<img width="953" alt="Screenshot 2020-09-07 at 18 10 40" src="https://user-images.githubusercontent.com/3305402/92405494-fb4e6100-f135-11ea-86c1-569ff71788e9.png">

[2020-09-08 06:15] SantosGuillamot commented on #536
Yes, you're right. In the Custom Event they have to listen to the event name `pageview`. If you use the default Page View trigger, I think you would get just the first pageview.

[2020-09-08 06:57] luisherranz commented on #536
And if you use both, you'll get a duplicate initial pageview. Maybe we should make that point clear in the GTM docs, or recommend people to use the Google Analytics package.

[2020-09-10 09:26] DAreRodz opened #565 "URL class imported from `frontity` throws an error in Safari 13.1.2"
**_Bug report_**

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org

**Expected behavior**

When you use the URL constructor exported by the `frontity`

[2020-09-10 09:57] luisherranz commented on #565
Yes, that is what we have to do.

[2020-09-10 10:02] luisherranz commented on #565
@SantosGuillamot, I've marked this as critical and I'll take care of the fix 👍

[2020-09-10 10:21] DAreRodz commented on #565
I realized that if you call `new URL("http://some.url", undefined)` in Chrome and Node it works, but not in Safari:

![Screen Shot 2020-09-10 at 12 06 07](https://user-images.githubusercontent.com/6917969/92717069-f10fab00-f35f-11ea-9a45-fc223b3f4cf0.png)

That should be the reason our `FrontityURL` fails (in [this line](https://github.com/frontity/frontity/blob/2bdf7dbe44fec3b0c08aae7175bee76d478

[2020-09-10 10:21] luisherranz commented on #565
@DAreRodz has discovered the problem.

So instead of this:

[code]

We have to do this:

[code]

I'm going to do the PR and also add changesets for our packages that were still using the URL import from Frontity to avoid the warnings.

[2020-09-10 10:48] #565 closed, assigned to luisherranz

[2020-09-10 12:29] #536 closed, assigned to SantosGuillamot

[2020-09-15 20:05] luisherranz commented on #452
It seems like we have the same problem with `Entities` in the `state.source.entity(link)` API.

More info in the FD that introduced the API: https://community.frontity.org/t/support-for-yoast-plugin-rest-api-fields/2626/23?u=luisherranz

[2020-09-28 18:06] jonobr1 opened #577 "Actions Fetch Force Parameter Not Respected in wp-source Package"
**_Bug report_**

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org

**Expected behavior**

Setting the `force` parameter to `true` when fetching a pos

[2020-09-29 08:16] DAreRodz commented on #577
Hey, @jonobr1 :wave:

You are right, this is actually a bug and the fix would be as simple as you mentioned. If you want, you can create a PR and link it to this issue. :blush:

EDIT: I've changed a bit the issue to match our bug template.

[2020-09-29 09:09] luisherranz commented on #577
@jonobr1 this is our contribution guide https://docs.frontity.org/contributing/code-contribution-guide, but if you need help let us know! 🙂

[2020-09-29 09:34] #561 closed, assigned to luisherranz

[2020-09-29 11:36] DAreRodz commented on #401
Hey, I just saw that the `SmartAd` component is already being implemented in this PR: https://github.com/frontity/frontity/pull/569

@michalczaplinski, I'll assign this issue to you and move it to **In progress**.

[2020-09-29 12:02] jonobr1 commented on #577
Sweet, will do!

[2020-09-29 13:54] jonobr1 commented on #577
Thanks for offering to help @luisherranz. I think I need it, because changing that one line breaks the `"overwrites the data when fetched with { force: true }"` test in [post-type.tests.ts](https://github.com/frontity/frontity/blob/dev/packages/wp-source/src/libraries/handlers/__tests__/post-type.tests.ts#L223-L235). In my debugging what I've found is:

[code]
These two calls invoke `libraries.sou

[2020-09-29 14:50] michalczaplinski commented on #401
👍 thanks @DAreRodz !

[2020-09-29 15:37] luisherranz opened #578 "Check for packages in parent node_modules"
**_Bug report_**

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org

**Expected behavior**

Frontity should check for packages in the parent folder `no

[2020-09-29 16:25] michalczaplinski commented on #577
Hi @jonobr1! I've just tried to apply your fix and to fix that test case quickly and it looks like that test case was incorrect previously and this is the reason that you've been seeing the failure! Thanks for pointing this out! 🙂

I ll make a new PR with the fix

[2020-09-29 16:39] jonobr1 commented on #577
Awesome! Thanks and glad I could help 👍

[2020-09-29 19:47] #577 closed, assigned to nobody

[2020-09-30 09:27] #331 closed, assigned to nobody

[2020-09-30 09:27] #481 closed, assigned to nobody

[2020-09-30 09:27] #562 closed, assigned to DAreRodz

[2020-10-02 13:00] SantosGuillamot opened #584 "Merge util for TypeScript [3pt]"
**Feature:** [Use two different Types](https://community.frontity.org/t/typescript-use-two-different-types/1681).

[**Sprint Card**](https://github.com/orgs/frontity/projects/10#card-46612824)

[2020-10-02 13:01] SantosGuillamot opened #585 "Add unit test missing for the preview [2pt]"
**Feature:** [WordPress Preview support](https://community.frontity.org/t/wordpress-preview-support/2419).

[2020-10-02 13:37] SantosGuillamot opened #586 "Remove /amp from link in actions.source.fetch and state.source.get [3pt]"
This is part of the [AMP feature](https://community.frontity.org/t/amp-package/388/). For full context please check out the [final Implementation proposal](https://community.frontity.org/t/amp-package/388/10?u=santosguillamot).

---

There are three standard ways to use AMP. This package needs to support all of them.

1. Using a subdomain, like `https://amp.mydomain.com/some-post`.
2. Using a quer

[2020-10-02 13:41] SantosGuillamot opened #587 "Create minimum amount of AMP processors [13pt]"
This is part of the [AMP feature](https://community.frontity.org/t/amp-package/388/). For full context please check out the [final Implementation proposal](https://community.frontity.org/t/amp-package/388/10?u=santosguillamot).

---

A theme that needs to supports AMP should contain AMP-aware components, but the HTML that is inside of `post.content.rendered` is outside of the scope of the theme be

[2020-10-02 14:31] SantosGuillamot opened #588 "Research - 301 redirects stored in WordPress database [21pt]"
**Feature**: [301 redirects stored in WordPress database](https://community.frontity.org/t/301-redirects-stored-in-wordpress-database/3032)

[2020-10-02 14:41] SantosGuillamot opened #589 "Create a global setting for the backend [8pt]"
**Feature:** [Make the backend URL a global setting](https://community.frontity.org/t/make-the-backend-url-a-global-setting/2381).

[**Sprint Card**](https://github.com/orgs/frontity/projects/10#card-46619778)

[2020-10-05 17:05] DAreRodz opened #592 "The `useEffect` hook inside the `Script` component should not return a value"
**_Bug report_**

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org

**Expected behavior**

When using the `<Script>` component from `@frontity/compone

[2020-10-06 07:26] #592 closed, assigned to DAreRodz

[2020-10-07 08:43] DAreRodz opened #596 "`actions.source.fetch` fails with links with query params for certain handlers [5pt]"
**_Bug report_**

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org

Let's say we have these two handlers, one for `movie` entities and another for `mo

[2020-10-07 16:45] luisherranz commented on #596
Thanks David. This is the test to reproduce the issue:

[code]

Now that we have regexp patterns for queries maybe we could exclude the query from the `link` for patterns.

https://github.com/frontity/frontity/blob/7e99b9b4a7d1bb8d3e02d3b7bce587bb8f400bee/packages/wp-source/src/libraries/get-match.ts#L78

[2020-10-08 09:22] DAreRodz opened #597 "The `<Iframe>` component doesn't load lazily when using the native lazy-load support"
**_Bug report_**

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org

**Expected behavior**

You just expect the `<Iframe>` component to respect the `lo

[2020-10-08 19:23] #400 closed, assigned to michalczaplinski

[2020-10-08 19:23] #401 closed, assigned to michalczaplinski

[2020-10-08 20:16] DAreRodz opened #598 "`data.isHome` is not working for front pages since wp-source@1.9.0"
**_Bug report_**

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org

**Expected behavior**

When the [`state.source.homepage` option](https://docs.fron

[2020-10-09 06:32] #598 closed, assigned to DAreRodz

[2020-10-13 09:51] luisherranz commented on #598
Totally my fault. Thanks for the fix @DAreRodz!!

[2020-10-13 09:53] DAreRodz opened #602 "The search form doesn't work when using a static homepage"
**_Bug report_**

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org

There is an on-going conversation in the community about this: https://community.f

[2020-10-13 10:15] luisherranz commented on #602
As part of the design principles we should avoid undefined settings. So I think we should populate `state.source.postPage` with `"/"` by default. That way people could simply use `state.source.postPage` when they refer to the post type archive in places like this:

[code]

Maybe we can solve it by adding a search handler for the `?s=` parameter?

[code]

[2020-10-13 14:35] DAreRodz commented on #602
That would be ideal, but there is an unexpected tiny problem. :sweat_smile:

The redirection system we implemented in `wp-source` is being used for static homepages, so, when `state.source.homepage` is set, and you want to match the homepage with the `searchHandler`, you have to use the page slug in its pattern, which is totally weird...

[2020-10-14 11:56] DAreRodz commented on #602
OK, Luis and I had a conversation and we decided that the best solution here is not to modify `@frontity/twentytwenty-theme` but change the pattern we are adding for the "homepage" redirection in `@frontity/wp-source` by one that doesn't match if the search query param (`/?s=some+search`) is present.

This is the line we must change:

https://github.com/frontity/frontity/blob/a845b77479a3639d0e8ba

[2020-10-15 06:38] SantosGuillamot commented on #602
Thanks for the triage guys :slightly_smiling_face: Do you think we could consider this a `good-first-issue`? Would it make sense to ask the person having this problem for a contribution?

[2020-10-15 07:21] luisherranz commented on #602
I think that understanding how those internal redirections work is kind of complex. I had to ask David several times to explain them to me 😆

[2020-10-15 07:34] SantosGuillamot commented on #602
Oh okay! I thought it was just creating a proper RegExp :smile:

[2020-10-15 07:34] SantosGuillamot commented on #602
Btw, is this affecting any theme with a search form?

[2020-10-19 12:36] nandotess opened #604 "Frontity doesn't "recognize" the source of data if the route is NOT 100% lower case"
**_Bug report_**

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org

**Expected behavior**

If my request (Frontity) is **/book/ABC**, I expect to see

[2020-10-19 13:31] luisherranz commented on #604
Thanks for opening this issue @nandotess 🙂

[2020-10-21 06:27] luisherranz commented on #596
We have to use `link.replace(/\?.*/, "")` in this line

https://github.com/frontity/frontity/blob/7e99b9b4a7d1bb8d3e02d3b7bce587bb8f400bee/packages/wp-source/src/libraries/get-match.ts#L78

to match what we are doing in

https://github.com/frontity/frontity/blob/7e99b9b4a7d1bb8d3e02d3b7bce587bb8f400bee/packages/wp-source/src/libraries/get-match.ts#L19-L23

I think that would solve the issue. @dare

[2020-10-21 07:13] SantosGuillamot opened #605 "`npx frontity serve` command takes too much time to start the server [8pt]"
**_Bug report_**

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org

**Expected behavior**

I expect that, after running `npx frontity serve`, the Serv

[2020-10-21 07:54] DAreRodz commented on #596
Almost that, but we would have to remove the query only for those regexps generated by `pathToRegexp`.

https://github.com/frontity/frontity/blob/7e99b9b4a7d1bb8d3e02d3b7bce587bb8f400bee/packages/wp-source/src/libraries/get-match.ts#L75

Something like this:

[code]

We want the query to be evaluated for regular regexps, right?

Anyway, maybe we should refactor how `result` is computed and, instea

[2020-10-21 09:02] DAreRodz commented on #604
Hi @nandotess :wave:

I like your idea about lowercasing links when they are standardized. I guess it would be relatively safe as WordPress does two things regarding links:

1. It is case-insensitive and returns the file that matches the link, whatever its capitalization.
2. It only allows defining lowercased permalinks (they are sanitized by the WordPress core).

The fix, in that case, would be t

[2020-10-21 12:40] nandotess commented on #604
@DAreRodz thank you so much for replying to this ticket.

About your concern about the uppercased links... today I already can load a page with uppercase (standard WordPress):
- https://lawsocietytribunal.ca/mission-and-core-values/
- https://lawsocietytribunal.ca/MISSION-AND-CORE-VALUES/

[2020-10-21 15:39] luisherranz commented on #596
Absolutely. Thanks for the correction David!

[2020-10-21 16:45] luisherranz commented on #604
I wouldn't add an option if that's something that is not possible in WordPress. It doesn't seem standard or even safe either.

I like your proposed solution David!

[2020-10-22 07:45] DAreRodz commented on #604
Yeah, when I said _hacking WordPress_ I meant making links with uppercase letters to be the canonical one. By default, WordPress internally uses lowercased links, e.g. if you check the canonical tag for https://lawsocietytribunal.ca/MISSION-AND-CORE-VALUES/ you will see this:

[code]

That's like the official URL. :blush:

[2020-10-22 07:45] SantosGuillamot commented on #604
Thanks for the triage guys! @nandotess Would you be wiling to contribute with a Pull Request to solve this? That would be awesome :slightly_smiling_face:

Maybe it's a good idea to add tests to check that it works with uppercase links, but we could help you with that.

[2020-10-22 13:06] nandotess commented on #604
@SantosGuillamot thanks for the opportunity to contribute to the project.

I have created a PR but a test failed, and I can't understand why. Do you mind helping me with that?

Thank you!

- Pull-request: https://github.com/frontity/frontity/pull/606

_It seems to be related to other parts of the code that are failing..._

[2020-10-23 07:53] SantosGuillamot commented on #604
Thanks a lot @nandotess ! We can keep the conversation in [the Pull Request](https://github.com/frontity/frontity/pull/606) :slightly_smiling_face:

[2020-10-23 10:00] luisherranz commented on #605
I think we should do the same for `npx frontity build` because sometimes is going to run on a CI environment and it should be as fast as possible and consume as few resources as possible.

[2020-10-26 09:14] #604 closed, assigned to nobody

[2020-10-27 16:18] luisherranz opened #607 "Pass `<script>` attributes to the element created by `<Script>`"
**_Bug report_**

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org

**Expected behavior**

A `<Script>` component should pass any prop (attribute) to

[2020-10-27 19:29] michalczaplinski opened #608 "Implement 301/302 redirections for redirects that are stored in WP database [13pt]"
Feature: [301 redirects stored in WordPress database](https://community.frontity.org/t/301-redirects-stored-in-wordpress-database/3032).

[Sprint Card](https://github.com/orgs/frontity/projects/11#card-48312358)

[2020-10-29 16:31] luisherranz commented on #605
@cristianbote discovered that it was not `commander`, but `ts-node`. So we will have to look for another solution if we ever want to improve `npx frontity build`, probably using `tsc` to transpile `frontity.settings.ts` instead of using `ts-node`.

[2020-11-02 09:11] #605 closed, assigned to nobody

[2020-11-02 09:16] luisherranz commented on #605
For reference, I tried transpiling the `frontity.settings.ts` file programatically to get rid of `ts-node` in the `npx frontity build` command as well using:

[code]

but it doesn't make much sense because the `frontity.settings.ts` file will usually import other `.ts` files (https://github.com/frontity/frontity/blob/dev/examples/mars-theme-ts-example/frontity.settings.ts) so we need to properly t

[2020-11-02 21:31] michalczaplinski commented on #432
This was possibly fixed in https://github.com/frontity/frontity/pull/606. Were you able to confirm that @DAreRodz ?

[2020-11-03 10:28] DAreRodz commented on #432
My bad, I forgot to check that! Could you do a quick test, if you don't mind? :slightly_smiling_face:

[2020-11-03 19:19] michalczaplinski commented on #432
It does work fine indeed! 👍 👍 👍

Confirming that this was fixed in #606 and will be available in the next release.

CC: @Koli14

[2020-11-03 19:19] #432 closed, assigned to nobody

[2020-11-04 00:58] #589 closed, assigned to michalczaplinski

[2020-11-04 09:25] luisherranz commented on #432
Awesome guys 🙂

@michalczaplinski does it make sense to add unit tests for this to make sure we don't ever get this problem in the future?

[2020-11-05 01:50] michalczaplinski commented on #432
Yup, PR here https://github.com/frontity/frontity/pull/611  :)

[2020-11-05 07:37] SantosGuillamot opened #612 "Change ad ids for the SmartAds e2e tests to the use official sandbox [3pt]"
When we developed the `@frontity/smart-adserver` package, we used a private account for the e2e tests. We asked the SmartAds team for a sandbox account and they have provided the information needed, so we should change them. This is what they shared:

[code]

[2020-11-05 07:42] luisherranz commented on #432
Thanks Michal! 🙌

[2020-11-05 14:55] #452 closed, assigned to DAreRodz

[2020-11-05 16:40] hugosbg opened #613 "iframe does not display"
I created a standard app

In the Wordpress Post includes an iframe, but in Frontity the iframe is not displayed.

![image](https://user-images.githubusercontent.com/14058763/98268708-9fecf380-1f6b-11eb-8786-8278fb48fc27.png)

![image](https://user-images.githubusercontent.com/14058763/98269307-5355e800-1f6c-11eb-81ad-0e262671bcc3.png)

**UPDATE**
I'm sorry, guys.
There in Home, does not display be

[2020-11-05 19:57] #613 closed, assigned to nobody

[2020-11-05 21:05] khnn opened #614 "Internal server error when API endpoint contains "name" property"
**_Bug report_**

**Expected behavior**

If "name" is used internally or "name" is not valid as a property, it would be nice to receive a warning or error message suggesting to change the naming in the API endpoint.

**Observed behavior**

On the CPT archive page the frontend gives "Internal server error" and the console logs:
`TypeError: "Cannot read property '55' of undefined` for a post with ID

[2020-11-06 01:03] michalczaplinski commented on #614
Hi @khnn, thanks for reporting this!

Could you help me reproduce it so that we can fix it? :) Could you post the code that you have used to "add" the `name` property in WordPress? Have you based it on the "vinyl" plugin code from the frontity talk?

Are you also able to share your frontity project here?

I'm asking this because I notice that `name` is one of the "reserved names" in WordPress that

[2020-11-06 08:49] khnn commented on #614
Edit: Yes, I have based it on the vinyl plugin code.

Hey @michalczaplinski, Thank you for getting back to me and thanks for mentioning the reserced terms of wordpress. Here's my code adding the property:

  `public function add_fields_to_rest_api($data, $post, $request) {`
   `$_data = $data->data;`
...
    `$_data['name] = get_field('name', $post->ID);`
...
    `$data->data = $_data;`
    `retur

[2020-11-06 23:34] michalczaplinski commented on #614
Thanks @khnn I can confirm that this is indeed an issue in Frontity. We'll work on it and update you in this thread.

The problem is in that line: https://github.com/frontity/frontity/blob/5d2d73882255e1b3ecf4895b269cdb78575ef11d/packages/wp-source/src/libraries/schemas/index.ts#L23

We check if the response for an entity has a `name` and if it does, we assume that it's an author, but in this case

[2020-11-07 09:09] khnn commented on #614
Thank you so much for the update and the effort.

[2020-11-09 09:06] luisherranz commented on #614
Interesting. We want to get rid of the schemas but it's going to take a while.

@khnn is there a way you can change that field name in the meanwhile?

[2020-11-09 09:13] khnn commented on #614
Hey @luisherranz, absolutely. I can use that workaround I mentioned. Sorry, if that wasn't clear. Thank you for the effort.

[2020-11-09 09:13] luisherranz commented on #613
I am glad it is working now @hugosbg 🙂

[2020-11-09 10:13] luisherranz commented on #614
Awesome 🙂

We will make sure that this works again in the next version of Source, which won't use schemas anymore.

I'm going to close this for now, but feel free to reopen it if something else related arises.

[2020-11-09 10:13] #614 closed, assigned to michalczaplinski

[2020-11-10 04:18] michalczaplinski opened #617 "`npx frontity create-package` should handle package names with special characters."
**Steps involved to reproduce the problem**

Running `npx frontity create-package` and passing a namespace like `some-package` will create a package with a syntactically invalid `index.js` file.

**Expected behavior**

Frontity should create a package with a syntactically valid `index.js` file.

**Observed behavior**

The generated `index.js` file will contain:

[code]
where `some-package` is not

[2020-11-10 07:54] luisherranz commented on #617
I prefer camelCase because it's what we are using ourselves 🙂

[2020-11-11 08:46] #584 closed, assigned to DAreRodz

[2020-11-11 08:55] DAreRodz commented on #617
Uhm, I thought that case was covered... :thinking:

EDIT: OK, we are not covering that case. We can use the same function we wrote here to transform the package name into camelCase:

https://github.com/frontity/frontity/blob/251506f82db84b9db21f45ae1bbb277ce98680a4/packages/wp-source/src/libraries/handlers/utils/capitalize.ts#L1-L12

[2020-11-11 09:23] DAreRodz commented on #617
I've checked the code a second time and that should not be happening. The namespace should take the value of the `namespace` argument of the `npx frontity create-package` command, not the package name. By default, if that argument is not provided, then `namespace` is `theme`.

The problem occurs when you provide an invalid namespace, as we are not sanitizing the input provided by users.

I guess w

[2020-11-11 17:40] DAreRodz commented on #617
Regarding a possible solution, I would do these two things when the namespace contains hyphens or other invalid characters:
- In interactive mode, show a warning and ask for a different namespace.
- When passing the namespace as a parameter, throw an error.

EDIT: @SantosGuillamot, you can assign priority now.

[2020-11-12 17:16] luisherranz opened #619 "End to end tests for wp-source errors (404, 500...)"
It seems like the site that Michal created for the wp-source-errors is failing: https://ballistic-western-donkey.glitch.me/status/404?rest_route=/wp/v2/posts?_embed=true&page=1

This is the second time we see this problem. Previously it was with https://httpstatuses.com/ being down. Maybe we should not rely on external sources for our E2E tests.

@michalczaplinski, @DAreRodz: what do you think? Sh

[2020-11-12 17:30] michalczaplinski commented on #619
By "move those tests to use the WordPress instance to generate the 404 and 500 errors" I think that you mean generating the error in PHP via e.g. "Code Snippets" plugin, correct? Then, we can load the plugin in the cypress task as usual.

I think this makes sense and is probably the simplest way to solve it 🙂

[2020-11-12 17:42] DAreRodz commented on #619
Yeah, I think is a good idea too. :+1:

[2020-11-13 08:19] luisherranz commented on #619
Yes, the 404 is simple and we can generate a server error using a code snippet 🙂

It seems like https://ballistic-western-donkey.glitch.me/status/404?rest_route=/wp/v2/posts?_embed=true&page=1 is working again.

What should we do? Should we change this now? Or should we wait until it fails again?

@santosguillamot, what do you think?

[2020-11-13 12:07] SantosGuillamot commented on #619
I am not in favor of postponing maintenance issues like this one until it fails. If we already know this is something we have to change and it won't take too much, I would change it now to prevent future problems when it fails. I've included it in the sprint board.

[2020-11-18 08:59] #585 closed, assigned to DAreRodz

[2020-11-18 10:30] mburridge opened #622 "wordpress.com sites not working with `state.source.url` [5pt]"
**_Bug report_**

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org

**Expected behavior**

Using a wordpress.com address in `state.source.url` in `fro

[2020-11-18 11:32] mburridge commented on #622
I made this change

![image](https://user-images.githubusercontent.com/20643925/99525219-6ff11780-2991-11eb-91ab-7533377be642.png)

i.e. I changed `${state.source.url}` to `${state.source.url.slice(8)}` on line 77 of `packages/wp-source/src/state.ts`

and now a wordpress.com site works.

But I ran `npm test` and the tests failed, so I won't do a PR.

![image](https://user-images.githubusercontent.

[2020-11-18 15:36] luisherranz commented on #619
Does it make sense to rename this to `wp-source` and use the same package/integration for other E2E tests related to `wp-source`?

[2020-11-19 08:49] DAreRodz commented on #619
You mean rename the `wp-source-errors.spec.js` file to `wp-source.spec.js`, which is more general, and move `wp-source` related tests to it, right?

[2020-11-20 08:44] luisherranz opened #623 "state.router.link mismatch when the URL is not the same in the server as in the client"
**_Bug report_**

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org

**Expected behavior**

`state.router.link` should have the URL of the client.

**O

[2020-11-20 09:49] SantosGuillamot commented on #623
I'm not sure if I understood it correctly. With this proposal:
* Websites where the parameters aren't changed and `?utm=123` is the same in the client and the server, everything works as expected. This is the most common case, and it is working right now.
* In webs where the parameters are changed (frontity.org for example), with the quick fix, the only issue will be that if users go forward to so

[2020-11-20 10:26] luisherranz commented on #623
Yes, you are right, except for one thing:

The scroll restoration is also broken because instead of going back to the same scroll point where the user was, the app goes to the `isFetching` state and back to the top of the screen. So the user needs to scroll down again.

[2020-11-20 12:09] SantosGuillamot commented on #623
I've marked this as `critical` as websites with this problem, like ours, are not able to track their marketing efforts. I feel that with the quick fix you suggested would be enough for the moment.

[2020-11-20 15:02] luisherranz commented on #619
Yes, that's right. But let's keep it as it is, with more isolated tests 👍

[2020-11-23 10:23] #619 closed, assigned to DAreRodz

[2020-11-23 12:44] mburridge commented on #622
A better fix starting at line 75:

[code]

[2020-11-23 23:16] michalczaplinski commented on #622
Confirming this issue. I think the final solution should look something like the what @mburridge has posted above: https://github.com/frontity/frontity/issues/622#issuecomment-732139397

[2020-11-26 10:49] mburridge commented on #622
Questions on this are starting to come up in the community forum: https://community.frontity.org/t/wordpress-com-data-fetching-error/3491

[2020-11-27 10:33] SantosGuillamot opened #628 "First stable version of the Infinite Scroll hooks [13pt]"
Feature: [Infinite Scroll hooks](https://community.frontity.org/t/infinite-scroll-hooks/2055).

Tasks left:
- Add e2e tests.
- Add TSDocs.

[2020-11-27 10:39] SantosGuillamot opened #629 "BrowserStack - Cypress tests [13pt]"
We are going to use BrowserStack to run our tests in different OS and browsers, to ensure that Frontity is reliable in all the scenarios. ~As part of this, we are also updating Babel.~

Branch: https://github.com/frontity/frontity/tree/update-babel-polyfill

[2020-11-27 10:41] SantosGuillamot opened #630 "BrowserStack - Selenium tests [21pt]"
We are going to use BrowserStack and Selenium to run our tests in older OS and browsers, to ensure that Frontity is reliable in all the scenarios. Not all the current tests will make sense in old browsers, but we have to ensure that Frontity apps don't break.

Branch: https://github.com/frontity/frontity/tree/selenium-tests

[2020-11-27 10:55] SantosGuillamot opened #631 "Update React and Emotion and update Babel to use the new JSX transform [13pt]"
Feature: [Update to React 17 and Emotion 11](https://community.frontity.org/t/update-to-react-17-and-emotion-11/3225/).

This feature affects the issue to [Move all the CSS to the `<head>`](https://github.com/frontity/frontity/issues/559), so we should take this into account or even address both at the same time.

[Sprint Card](https://github.com/orgs/frontity/projects/12#card-50175547)

[2020-12-01 14:59] DAreRodz commented on #612
Hey @SantosGuillamot, I'm not sure but it looks like the data they shared is not working. A script is being rendered inside the ad container, nothing else.

This is with the current data:

![2020-12-01_15-56](https://user-images.githubusercontent.com/6917969/100756925-0a1f7980-33ee-11eb-9b8d-28067dc507e1.png)

This is with the previous one:

![2020-12-01_15-57](https://user-images.githubuserconten

[2020-12-01 16:54] DAreRodz commented on #612
I've contacted the SmartAdserver team. I'm gonna mark this issue as blocked until they answer.

[2020-12-04 09:58] luisherranz commented on #439
@SantosGuillamot any idea why this is not closed?

[2020-12-04 10:10] SantosGuillamot commented on #439
Mmm I think it wasn't closed because in the [Pull Request](https://github.com/frontity/frontity/pull/542) that solved this, it was linked after the PR got merged, so the automation didn't work.

I am closing it now.

[2020-12-04 10:10] #439 closed, assigned to michalczaplinski

[2020-12-04 17:04] #623 closed, assigned to DAreRodz

[2020-12-07 16:59] luisherranz commented on #629
I have moved the Babel update to another PR so they are not that big.

I have also reduced the points from 21 to 13 and I will add another issue with 13 for the Babel update.

[2020-12-07 17:01] luisherranz opened #641 "Update Babel Polyfills [13pt]"
Update Babel `babel-preset-env` to the last version to fix the problems we had with polyfills in old browsers.

[2020-12-08 17:33] luisherranz commented on #641
Blocked until this PR is merged https://github.com/webpack/webpack-dev-middleware/pull/785 👍

[2020-12-09 13:35] DAreRodz commented on #612
The ad units show content now and work as expected.

![Screenshot from 2020-12-09 14-24-24](https://user-images.githubusercontent.com/6917969/101636574-d23ab680-3a2b-11eb-9159-26b72d6cbf09.png)

This issue is unblocked now.

[2020-12-16 08:39] luisherranz opened #648 "Custom post types with parents are not supported"
**_Bug report_**

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org

**Expected behavior**

Custom post types with parents, like `/cpt/parent/some-cpt`

[2020-12-16 08:44] luisherranz commented on #648
After noticing this bug I also noticed that in our unit tests we were not testing:

- The handler that is being used.
- The custom post type handler.

So I went on and start investigating how we could do that.

In the end, I ended up adding those missings tests and a failing test for this issue, so I also fixed the bug.

The fix is one line of code: https://github.com/frontity/frontity/commit/5de0

[2020-12-17 08:48] #648 closed, assigned to luisherranz

[2020-12-23 09:17] #612 closed, assigned to DAreRodz

[2021-01-02 07:49] concalahan opened #653 "SEO bug - Frontity is creating another url for feature image"
**_Bug report_**

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org

**Expected behavior**

Strange url appear on my google search console.

When inves

[2021-01-03 16:36] nb opened #654 "Broken links in package READMEs"
In https://github.com/frontity/frontity/tree/dev/packages/frontity:

* More info on npx frontity create [here](https://docs.frontity.org/frontity-cli/create) – should probably lead to https://docs.frontity.org/frontity-cli/create-commands#create
* Have a look at the latest updates of this package in the [CHANGELOG](https://github.com/frontity/frontity/blob/dev/packages//CHANGELOG.md) – should prob

[2021-01-04 17:44] luisherranz commented on #654
Thanks for the heads up Nikolay! 🙂

---

@mburridge could you please take care of this? Take a look at all our READMEs, not only this one.

I have just tried a relative link but it doesn't work because the README can be loaded from different URLs (like [1](https://github.com/frontity/frontity/blob/dev/packages/frontity), [2](https://github.com/frontity/frontity/blob/dev/packages/frontity/README.md

[2021-01-04 19:09] nb commented on #654
Based on their documentation and on my experience, [GitHub supports relative URLs.](https://docs.github.com/en/free-pro-team@latest/github/creating-cloning-and-archiving-repositories/about-readmes#relative-links-and-image-paths-in-readme-files)

[2021-01-05 07:59] luisherranz commented on #654
Oh, I didn't know that. Thanks @nb.

@mburridge, I have published a new page, exclusively for the newsletter: https://frontity.org/newsletter/. Please use that link to avoid the problem Nikolay described.

[2021-01-05 17:22] mburridge commented on #654
@luisherranz I've updated this file and also checked and updated the other README files. PR #655 is awaiting your review.

[2021-01-06 09:06] cristianbote commented on #617
Managed to open a PR for this, see #656. Thank you so much @DAreRodz, @luisherranz and @michalczaplinski for a clear description and what's at fault here.

@DAreRodz regarding throwing an error for invalid format, I thought it would offer a smoother developer experience, if we would show a warning and format the `namespace` for the user. This is the log:
[code]

What are your thoughts after seeing

[2021-01-06 14:21] cristianbote commented on #407
Had a closer look into why this is happening and the `--typescript` flag and `name` value are parsed correctly, meaning I can see their value reflected in the `create` function. What is happening is that we have the `program.help()` if there are no arguments based on `program.args.length` check in here:

https://github.com/frontity/frontity/blob/9d54e33d05ce4ab3a2077a11e8e804d7b192dcc0/packages/fr

[2021-01-06 18:51] luisherranz commented on #654
Thanks @mburridge.

[2021-01-07 11:28] #617 closed, assigned to cristianbote

[2021-01-07 11:31] luisherranz commented on #617
I think the log message is fine. Up to you! 🙂

[2021-01-08 11:00] cristianbote commented on #602
Was looking into this one and tried to get deeper a bit into it.

If I understood the flow correctly, the _fetch_ is initiated at this level, with the url:
https://github.com/frontity/frontity/blob/a845b77479a3639d0e8baab0e819ff5469a207e3/packages/twentytwenty-theme/src/components/index.js#L22

Which calls the curried `.get` on the `wpSource` package to get the data:
https://github.com/frontity/fr

[2021-01-08 15:26] luisherranz opened #657 "The local self-signed SSL certificate doesn't work on Chrome"
**_Bug report_**

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org

**Expected behavior**

The self-signed SSL certificate used to test the site with

[2021-01-08 15:33] luisherranz commented on #657
@orballo I have updated to the latest version of Chrome and the certificate that we have is invalid (which is expected) but it still works:

<img width="669" alt="Screenshot 2021-01-08 at 16 32 13" src="https://user-images.githubusercontent.com/3305402/104032883-1528af00-51cf-11eb-9e6e-f0ea7f617180.png">

How can we reproduce the problem?

[2021-01-08 15:50] #654 closed, assigned to mburridge

[2021-01-08 16:53] orballo commented on #657
@luisherranz Yes, it works when you use `https://localhost:3000`. However, in my case, I modified `/etc/hosts` to point `127.0.0.1` to `local.aleteia.org` and that's the moment the certificate starts to fail, without the possibility of forcing Chrome to accept it even though I marked it as allowed in the system.

Actually, I just tried setting the alias to `local.example.com` and it works, so I'm

[2021-01-08 17:02] luisherranz commented on #657
Ok, let us know what you find out.

By the why, does it work if you use a non-existent domain, like https://example.local?

[2021-01-08 17:10] orballo commented on #657
Ok, this is the version from my old laptop:
`Version 87.0.4280.141 (Official Build) (x86_64)`
And this is the version from the new one:
`Version 87.0.4280.141 (Official Build) (arm64)`

Maybe it is a problem with the arm build. I'll try to run the x86_64 and see what happens.

EDIT: The error persists on `Version 87.0.4280.141 (Official Build) (x86_64 translated)`

[2021-01-08 17:25] orballo commented on #657
It looks like an issue with the domain I'm using. I tried to use that domain with Local, which is issuing a complete certificate with the values that the browser was complaining about before, and it doesn't work either. No idea though why it works on the other machine.

EDIT: I just wanted to add that is not an issue with using an existent domain, as `local.example.com` works and `example.com` is

[2021-01-11 08:09] cristianbote commented on #407
I believe @luisherranz has this covered in this opened PR to update dependencies, in here https://github.com/frontity/frontity/pull/640/files#diff-27828c6f14cb3a24214abe1c3c83a99564fcefd57a79074313239712599a63cbR46.

[2021-01-11 13:23] SantosGuillamot opened #659 "Cypress e2e tests get stuck"
**_Bug report_**

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org

**Expected behavior**

The e2e tests should be reliable and pass or fail and not g

[2021-01-11 14:38] luisherranz commented on #659
Things we can try:

- Update Cypress to v6.
- Check if we can increase the memory of the container.
- Run specs one by one. First without docker. And try to figure out where at which point it gets stuck.

[2021-01-12 15:42] #641 closed, assigned to luisherranz

[2021-01-12 15:47] luisherranz opened #662 "Fix webpack output colors [1pt]"
**_Bug report_**

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org

**Expected behavior**

Webpack should output colors in the terminal.

**Observed b

[2021-01-12 16:59] michalczaplinski commented on #659
@luisherranz I believe this is the issue that Mario mentioned that I could take a look :) Will update the issue if I had the time to do that.

[2021-01-12 17:24] DAreRodz commented on #659
@michalczaplinski, I don't think so! I'm currently working on this issue. :sweat_smile:

EDIT: I still have to open a PR, the brach is this one: https://github.com/frontity/frontity/tree/fix-e2e-tests

[2021-01-12 17:26] michalczaplinski commented on #659
Oh, my bad in that case 😅

[2021-01-13 08:07] cristianbote commented on #407
This one got fixed I believe, in this PR https://github.com/frontity/frontity/pull/640

[2021-01-14 09:13] luisherranz commented on #659
@DAreRodz I ran the e2e tests locally for the React 17 branch and it seems like some snapshots are missing for yoast and aiseop specs. Those should be committed, shouldn't they?

[2021-01-14 09:59] luisherranz commented on #596
I have been thinking a bit about this because we are also using the `"RegExp:"` pattern in the new 30x redirections and I think we should match the RegExp against `link` instead of `route`:

- Pattern: `/category/:slug` -> Match against `route` (without pagination).
- RegExp: `RegExp:\\/category\\/(?<slug>[^\\/])\\/page\\/(?<page>\\d+)` -> Match against the whole `link` inlucing the pagination.

T

[2021-01-14 18:28] alejosky opened #665 "state.source.url turns case sensitive when in combination with other settings"
**_Bug report_**

Following works (notice uppercase T)

`{
  "name": "@frontity/wp-source",
  "state": {
    "source": {
      "url": "http://localhost/Tele/"
    }
  }
}`

but in addition of other settings, as shown as follow, it stops working

`{
  "name": "@frontity/wp-source",
  "state": {
    "source": {
      "url": "http://localhost/Tele",
      "homepage": "/home"
    }
  }
}`

Then, it wo

[2021-01-15 09:33] #659 closed, assigned to DAreRodz

[2021-01-15 09:51] luisherranz commented on #665
Thanks @alejosky, we will investigate the issue 🙂

_By the way, your theme dependencies (like bootstrap) should be declared on your theme's `package.json`, not on your project's `package.json`._

[2021-01-15 10:15] #622 closed, assigned to DAreRodz

[2021-01-18 09:02] luisherranz commented on #631
We should've done two different issues for this 😄

[2021-01-18 10:43] DAreRodz opened #667 "The `Link` component tries to fetch links that start with `mailto:`"
**_Bug report_**

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org

**Expected behavior**

When the Link component is rendered with an `href` value th

[2021-01-18 12:31] luisherranz opened #668 "Remove old React imports from the themes"
Now that we have upgraded to React 17 and the new JSX runtime, we should not use the old React imports anymore:

[code]

**Possible solution**

We could use a search-and-replace.

We have to be careful because sometimes we are using `React.FC` or `React.useEffect`. In those cases, we can either switch to `import { FC, useEffect } from "react"` or keep the `import React from "react"`. I think both

[2021-01-18 12:33] luisherranz commented on #668
This is not a bug, but I have assigned it to you so you can think about when to add this to our roadmap. Feel free to unassign yourself after that 🙂

[2021-01-18 20:24] nicholasio commented on #668
There's a codemod built by the react core team

[code]

not sure if it works with typescript though

[2021-01-18 22:10] nicholasio commented on #667
We should probably move those checks to a utility function as these checks are becoming more complex.

[2021-01-19 13:22] SantosGuillamot commented on #662
It seems [the issue](https://github.com/webpack/webpack-dev-middleware/issues/782) you linked has already been closed. Should we consider this unblocked?

[2021-01-20 07:05] SantosGuillamot commented on #407
Is there a way to ensure if this has been fixed or do we have to wait until the next release to test it?

[2021-01-20 07:17] SantosGuillamot commented on #653
If I am not mistaken, it isn't Frontity the one creating the url, I think it's your WordPress. WordPress by default has a link for all the images and Frontity gets it in case you want to replicate this behavior. For example, if you go to your backend media endpoint, you can check there is a `link` property with these urls:

All the media urls -> https://wp.stream-hub.com/wp-json/wp/v2/media
The sp

[2021-01-20 07:32] cristianbote commented on #407
I don't think we can programatically, via a test, check for this, sadly 😞. This was an issue in the `commander` package, that is in charge of parsing the `argv` and it got fixed in the next versions. So using an updated version of `commander` is what ensures that this issue is fixed.

Otherwise only by manually testing it I am afraid.

[2021-01-20 13:50] DAreRodz commented on #665
@alejosky, does it happen only with the homepage?

Also, did you set the **homepage** setting in the WordPress instance as well? It's explained [here](https://docs.frontity.org/api-reference-1/wordpress-source#state-source-homepage) in the `@frontity/wp-source` package documentation.

[2021-01-25 07:05] #631 closed, assigned to cristianbote

[2021-01-25 11:29] #667 closed, assigned to nicholasio

[2021-01-25 12:36] #608 closed, assigned to luisherranz

[2021-01-26 07:51] #662 closed, assigned to nobody

[2021-01-26 16:20] luisherranz commented on #602
Not exactly, `state.source.get` doesn't initiate the `fetch` 🙂

We try to follow [Flux](https://facebook.github.io/flux/) as much as possible, so only actions can trigger state changes.

The initiator is `actions.router.set(link)`. The router has a setting called `state.router.autoFetch` (which is `true` by default) that calls `actions.source.fetch(link)` automatically. Something like this:

![ima

[2021-01-26 16:21] luisherranz commented on #657
@orballo do you have more information regarding this problem? (I've assigned you the triage)

[2021-01-26 16:34] luisherranz commented on #668
I wonder why this has not been closed automatically if the PR was linked and merged... Anyway, closing this now.

Thanks @nicholasio!! 🎉😄

[2021-01-26 16:34] #668 closed, assigned to nicholasio

[2021-01-26 16:53] luisherranz commented on #407
I've just tested this locally in `dev` (which has now commander v6) and it seems to be working fine, as Cristian said 🙂

<img width="572" alt="Screenshot 2021-01-26 at 17 51 42" src="https://user-images.githubusercontent.com/3305402/105876327-295a1200-5fff-11eb-88d6-8fe0cbfc69d9.png">

We can test it tomorrow again once it's published in npm and if it works we can close the issue.

[2021-01-26 18:14] orballo commented on #657
@luisherranz No, I ended up using domains ending in `.local`. I'd say it is a Chrome's issue in M1.

EDIT: What am I supposed to do with the triage? 😅

[2021-01-27 07:22] SantosGuillamot commented on #668
Thanks @nicholasio !

It seems the PR was linked after being merged, I guess that's the reason.

[2021-01-27 07:27] cristianbote commented on #668
Yup 😃 I linked it afterwards.

[2021-01-27 09:44] #596 closed, assigned to cristianbote

[2021-01-28 08:29] SantosGuillamot commented on #407
I've tested this after the latest release and it's working now :clap: I'm closing the issue.

[2021-01-28 08:29] #407 closed, assigned to nobody

[2021-01-29 10:00] luisherranz commented on #557
@SantosGuillamot I've just noticed that the Sprint Card links get outdated. Maybe that's another good option to remove them in favor of the Feature Boards (the less work the better).

[2021-01-29 11:45] luisherranz opened #685 "Create the `@frontity/amp` package"
Just the boilerplate for the AMP package in our monorepo, with a basic index.js, types.js, package.json and so on...

[2021-01-29 11:46] luisherranz commented on #560
Blocked until #685 and #557 are finished.

[2021-01-29 11:47] luisherranz commented on #558
Blocked until #685 and #557 are finished.

[2021-01-29 11:49] cristianbote commented on #559
I started working on this but this is blocked by #557. The changes needs to happen in the AMP package not in core.

[2021-01-31 11:38] alejosky commented on #665
@DAreRodz No idea.

Also...
![image](https://user-images.githubusercontent.com/11649435/106382631-28d7c780-63c1-11eb-9e3e-0beeea7d6b97.png)

[2021-01-31 11:39] alejosky commented on #665
I am going to unsubscribe to this issue now. Good luck.

[2021-02-01 07:48] SantosGuillamot commented on #557
You are totally right. They change per project and we usually move them from 1 project to another, so it would be better handle in a GitHub board.

[2021-02-02 13:54] luisherranz commented on #657
Haha, only figuring out where the problem was coming from 🙂

Can we close this then, as it seems like a Chrome problem instead of a Frontity one?

[2021-02-03 11:19] DAreRodz commented on #665
@alejosky I was able to reproduce the issue using a WordPress multisite setup.

The problem is in these lines of code, inside the `transformLink` function. That function is being used by the `@frontity/wp-source` package to transform the links of fetched entities so they point to Frontity instead of WordPress.

https://github.com/frontity/frontity/blob/c139094e956d3119f9fd1ea2342717e29e187f2f/pack

[2021-02-03 12:09] DAreRodz opened #691 "[Components] The `Link` component doesn't remove the WordPress subdirectory"
**_Bug report_**

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org
-
I think I've found a bug while triaging this issue: #665

**Expected behavior**

[2021-02-03 12:16] luisherranz commented on #691
I'm not sure I get the issue. Is it when WordPress is in a subfolder but Frontity is not?

- `https://backend.com/subfolder/some-post`
- `https://domain.com/some-post`

If so, shouldn't the link be fixed in the entity link (`post.link`...)?  If not, that fix will need to be replicated everywhere. For example, the share buttons also need the correct final link.

[2021-02-03 14:26] DAreRodz commented on #691
I think the entity link is right, the link that the `removeSourceUrl()` function receives is the one rendered in the content (`rawLink`), i.e. the WP one.

https://github.com/frontity/frontity/blob/c139094e956d3119f9fd1ea2342717e29e187f2f/packages/components/link/index.tsx#L72

[2021-02-08 07:35] SantosGuillamot commented on #665
If WordPress doesn't allow to have capital letters I am not sure if we should allow it from Frontity or just throw a warning. What do you think?

[2021-02-08 10:02] luisherranz commented on #586
Blocked because this is finally going to be done in the `@frontity/amp` package so we have to wait until https://github.com/frontity/frontity/issues/685 is done.

[2021-02-08 12:42] SantosGuillamot opened #695 "Create a clean Koa application per request"
This is part of the [Server Extensibility feature](https://community.frontity.org/t/server-extensibility/2810). For full context please check out the [final Implementation proposal](https://community.frontity.org/t/server-extensibility/2810/23).

---

To make sure that we don't leak middleware and app configuration from one request to another, my proposal is to create a new Koa application in each

[2021-02-08 12:45] SantosGuillamot opened #696 "Make sure the middleware (server) is properly merged in the creation of the store"
This is part of the [Server Extensibility feature](https://community.frontity.org/t/server-extensibility/2810). For full context please check out the [final Implementation proposal](https://community.frontity.org/t/server-extensibility/2810/23).

---

We think this should work almost out of the box, but we have to make sure that the `server` middleware is populated in the store.

[This is](https:/

[2021-02-08 12:47] SantosGuillamot opened #697 "Populate ctx with the ctx itself and the store"
This is part of the [Server Extensibility feature](https://community.frontity.org/t/server-extensibility/2810). For full context please check out the [final Implementation proposal](https://community.frontity.org/t/server-extensibility/2810/23).

---

In the initialization middleware, we should get the settings, create the store and populate the `ctx` before we run the middleware.

Something like

[2021-02-08 12:53] SantosGuillamot opened #698 "Populate the middleware array with the correct packages"
This is part of the [Server Extensibility feature](https://community.frontity.org/t/server-extensibility/2810). For full context please check out the [final Implementation proposal](https://community.frontity.org/t/server-extensibility/2810/23).

---

In the initialization middleware, we should add the middleware exposed by the packages to the `app.middleware` array, using `app.use()`.

The core m

[2021-02-08 12:56] SantosGuillamot opened #699 "Create a wrapper to modify ctx.next"
This is part of the [Server Extensibility feature](https://community.frontity.org/t/server-extensibility/2810). For full context please check out the [final Implementation proposal](https://community.frontity.org/t/server-extensibility/2810/23).

---

Create a wrapper to populate `ctx.next` so the middleware can work with the signature `fn({ ctx, next })`.

Luis has been reading the Koa's code and

[2021-02-08 12:57] SantosGuillamot opened #700 "Change the API of the server actions"
This is part of the [Server Extensibility feature](https://community.frontity.org/t/server-extensibility/2810). For full context please check out the [final Implementation proposal](https://community.frontity.org/t/server-extensibility/2810/23).

---

We should change the API of the server actions from this:

[code]

To this:

[code]

We need to do so while maintaining backward compatibility. Luis

[2021-02-08 12:58] SantosGuillamot commented on #699
I am marking this issue as `blocked` until the dependencies are finished.

[2021-02-08 12:58] SantosGuillamot commented on #698
I am marking this issue as blocked until the dependencies are finished.

[2021-02-08 15:44] mburridge opened #701 "`npx frontity create-package` causes error in npm 7"
**_Bug report_**

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org

**Expected behavior**

No error should occur, `create-package` should behave the s

[2021-02-09 11:49] SantosGuillamot opened #703 "Setting to change the entry point of the packages of a site [8pt]"
This is needed for [AMP feature](https://community.frontity.org/t/amp-package/388/). For full context please check out the [final Implementation proposal](https://community.frontity.org/t/amp-package/388/10?u=santosguillamot).

---

Some packages may require a different entry point for AMP because sometimes they are going to contain code that is not needed in the React version and we need to provi

[2021-02-09 11:52] SantosGuillamot opened #704 "Setting to change which bundles are generated (client and/or server) [8pt]"
This is needed for [AMP feature](https://community.frontity.org/t/amp-package/388/). For full context please check out the [final Implementation proposal](https://community.frontity.org/t/amp-package/388/10?u=santosguillamot).

---

In some cases, like in AMP, we don't need to generate bundles for the client because the Google AMP framework forbids the use of external JavaScript.

It will be manag

[2021-02-09 11:53] SantosGuillamot opened #705 "Allow packages to modify the settings of a site [13pt]"
This is needed for [AMP feature](https://community.frontity.org/t/amp-package/388/). For full context please check out the [final Implementation proposal](https://community.frontity.org/t/amp-package/388/10?u=santosguillamot).

---

The `@frontity/amp` package needs to be able to change the `entryPoints` and `bundles` settings.

This will be managed by a `settings` export in the `frontity.config.j

[2021-02-09 11:57] SantosGuillamot opened #706 "Add frontity.config.js for the @frontity/amp package [3pt]"
This is part of the [AMP feature](https://community.frontity.org/t/amp-package/388/). For full context please check out the [final Implementation proposal](https://community.frontity.org/t/amp-package/388/10?u=santosguillamot).

---

Once the following features are ready, we have to adapt the `@fronitty/amp` package implementation to them:
* [Allow packages to modify the settings of a site](https:

[2021-02-09 12:00] SantosGuillamot opened #707 "Support for package priorities [8pt]"
This is needed for [AMP feature](https://community.frontity.org/t/amp-package/388/). For full context please check out the [final Implementation proposal](https://community.frontity.org/t/amp-package/388/10?u=santosguillamot).

---

In some cases, we will need to defined packages priorities to define in which order they are executed.

For example, the `@frontity/amp` package needs to be executed b

[2021-02-09 12:05] SantosGuillamot opened #708 "Make mars-theme AMP-aware [13pt]"
This is needed for [AMP feature](https://community.frontity.org/t/amp-package/388/). For full context please check out the [final Implementation proposal](https://community.frontity.org/t/amp-package/388/10?u=santosguillamot).

---

The HTML that is inside of `post.content.rendered` is outside of the scope of the theme because it's managed by Html2React, but from the theme perspective, it should c

[2021-02-09 12:06] SantosGuillamot opened #709 "Make twentytwenty-theme AMP-aware [13pt]"
This is needed for [AMP feature](https://community.frontity.org/t/amp-package/388/). For full context please check out the [final Implementation proposal](https://community.frontity.org/t/amp-package/388/10?u=santosguillamot).

---

The HTML that is inside of `post.content.rendered` is outside of the scope of the theme because it's managed by Html2React, but from the theme perspective, it should c

[2021-02-09 12:13] SantosGuillamot opened #710 "Make @frontity/google-tag-manager package AMP-aware [8pt]"
This is needed for [AMP feature](https://community.frontity.org/t/amp-package/388/). For full context please check out the [final Implementation proposal](https://community.frontity.org/t/amp-package/388/10?u=santosguillamot).

---

The AMP framework uses a special syntax for the [analytics](https://amp.dev/documentation/components/amp-analytics/), so we have to make this package AMP-aware to load

[2021-02-09 12:13] SantosGuillamot opened #711 "Make @frontity/google-analytics AMP-aware [8pt]"
This is needed for [AMP feature](https://community.frontity.org/t/amp-package/388/). For full context please check out the [final Implementation proposal](https://community.frontity.org/t/amp-package/388/10?u=santosguillamot).

---

The AMP framework uses a special syntax for the [analytics](https://amp.dev/documentation/components/amp-analytics/), so we have to make this package AMP-aware to load

[2021-02-09 12:14] SantosGuillamot opened #712 "Make @frontity/comscore-analytics AMP-aware [5pt]"
This is needed for [AMP feature](https://community.frontity.org/t/amp-package/388/). For full context please check out the [final Implementation proposal](https://community.frontity.org/t/amp-package/388/10?u=santosguillamot).

---

The AMP framework uses a special syntax for the [analytics](https://amp.dev/documentation/components/amp-analytics/), so we have to make this package AMP-aware to load

[2021-02-09 12:16] SantosGuillamot opened #713 "Make @frontity/smart-ads AMP-aware [8pt]"
This is needed for [AMP feature](https://community.frontity.org/t/amp-package/388/). For full context please check out the [final Implementation proposal](https://community.frontity.org/t/amp-package/388/10?u=santosguillamot).

---

The AMP framework uses a special syntax for the [ads](https://amp.dev/documentation/components/amp-ad/?format=websites), so we have to make this package AMP-aware to l

[2021-02-09 12:17] SantosGuillamot opened #714 "Make @frontity/google-ad-manager AMP-aware [8pt]"
This is needed for [AMP feature](https://community.frontity.org/t/amp-package/388/). For full context please check out the [final Implementation proposal](https://community.frontity.org/t/amp-package/388/10?u=santosguillamot).

---

The AMP framework uses a special syntax for the [ads](https://amp.dev/documentation/components/amp-ad/?format=websites), so we have to make this package AMP-aware to l

[2021-02-09 12:22] SantosGuillamot opened #715 "Make AMP pages discoverable"
This is needed for [AMP feature](https://community.frontity.org/t/amp-package/388/). For full context please check out the [final Implementation proposal](https://community.frontity.org/t/amp-package/388/10?u=santosguillamot).

---

AMP pages need a `<link rel="amphtml">` element, like this:

[code]

And HTML pages need a `<link rel="canonical">` element, like this:

[code]

Right now, it can be a

[2021-02-09 16:26] luisherranz commented on #691
Ok, got it. Thanks David.

[2021-02-09 17:02] luisherranz commented on #665
I don't think we need to support things that not even WordPress supports.

[2021-02-10 11:59] orballo commented on #657
Yes, indeed. We can.

[2021-02-10 18:30] michalczaplinski opened #716 "Derived state does not have access to `actions` or `libraries`, only to `state`"
**Expected behavior**

Derived state should have access to `state`, `actions` and `libraries` inside of the callback.

It **seems** that when using derived state, you can access `state` `actions` and `libraries`:

https://github.com/frontity/frontity/blob/a569db247e11195a0ef341ebf0b62ab87df7318d/packages/types/src/derived.ts#L10-L15

The TS types also seem to indicate that this is possible:

https

[2021-02-11 08:24] SantosGuillamot opened #719 "@frontity/google-analytics package doesn't work with Google Analytics 4 [5pt]"
**_Bug report_**

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org

**Expected behavior**

Google Analytics released a new way of using the tool, [Goo

[2021-02-11 08:58] luisherranz commented on #719
Two questions:

- Should we consider this a breaking change?

  I know some users have overwritten the `actions.googleAnalytics.pageview` action and they use `window.ga` internally.

[code]

  If I'm not mistaken, this will break that code, right?

- Can we mark this as a `good-first-issue`? What do you think? 🙂

[2021-02-11 09:09] SantosGuillamot commented on #719
Yes, you are right. I was just thinking that the old tags will work, but I wasn't considering the possibility of users written their own pageviews. If we change the `<script>` and we don't load `analytics.js`, `window.ga` won't work as you say. I assume it doesn't make sense to make it backward compatible for these cases right?

Yes, I have just done it :slightly_smiling_face: I was able to make i

[2021-02-11 10:20] luisherranz commented on #716
In [Flux](https://facebook.github.io/flux/), only actions can trigger state mutations or side effects, so passing `actions` would be an antipattern. If it is stated in the types or the docs it is a typo and should be fixed.

I agree on passing `libraries` though 🙂

[2021-02-11 12:54] SantosGuillamot commented on #716
Are you aware of any use cases where this is needed right now?

[2021-02-11 16:49] michalczaplinski commented on #716
@SantosGuillamot Nope, I just discovered it accidentally while working on [Removing the `/amp` from links](https://github.com/frontity/frontity/pull/686). 🙂

As far as I know, no user has reported it and it's not even documented. E.g.: https://docs.frontity.org/learning-frontity/state only mentions using `state`.

[2021-02-11 19:10] luisherranz commented on #657
Ok, thanks Edu!

[2021-02-11 19:10] #657 closed, assigned to orballo

[2021-02-12 08:39] #701 closed, assigned to nobody

[2021-02-12 08:50] SantosGuillamot commented on #665
Yes, I agree. Should we close this then?

[2021-02-12 09:00] #557 closed, assigned to cristianbote

[2021-02-12 11:55] SantosGuillamot commented on #559
As #557 was closed, I am unblocking this.

[2021-02-12 11:58] SantosGuillamot commented on #556
@luisherranz We could consider this as done right? Or are you planning to do something else?

[2021-02-12 20:04] #586 closed, assigned to michalczaplinski

[2021-02-12 20:04] #685 closed, assigned to michalczaplinski

[2021-02-16 08:01] luisherranz commented on #665
Sure. Done 🙂

[2021-02-16 08:01] #665 closed, assigned to SantosGuillamot

[2021-02-16 08:03] luisherranz commented on #556
Yes, sorry, it's done 🙂

Closing now 👍

[2021-02-16 08:03] #556 closed, assigned to luisherranz

[2021-02-16 17:42] luisherranz commented on #629
I've started working on this again.

I switched to a branch named `browserstack-cypress`: https://github.com/frontity/frontity/compare/browserstack-cypress

There have been some changes in Browserstack. Now it supports Cypress 6 and a `--sync` option in the CLI, so I will investigate that.

I think I can prepare and then explain this enough so it can be taken over by any other member of the team.

[2021-02-18 17:05] luisherranz opened #723 "Webpack builds are now slower than they used to be"
**_Bug report_**

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org

**Expected behavior**

Webpack rebuilds are fast.

**Observed behavior**

Webpack

[2021-02-19 11:42] juanmaguitar opened #724 "--typescript argument does not work"
**_Bug report_**

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org

**Expected behavior**

Either one of these ways of creating a Frontity project sho

[2021-02-19 11:46] juanmaguitar commented on #724
It was an issue w/ my computer and my folder 😅
I close this issue

[2021-02-19 11:46] #724 closed, assigned to nobody

[2021-02-22 08:52] #559 closed, assigned to cristianbote

[2021-02-23 16:46] jsonpreet opened #726 "Frontity default state.source don’t fetch all items once in loop"
Frontity default state.source don’t fetch all items inside loop. I am trying to fetch posts from custom api route which return id, link, type, slug in json. When i console.log custom route it returns all 5 items. but when i fetch data with state.source[item.type][item.id] it fetch only first 1 from json output. If i tried to return all posts data in custom route and show post title, post link dire

[2021-02-24 08:27] SantosGuillamot commented on #560
This issue wasn't closed automatically after merging the linked [Pull Request](https://github.com/frontity/frontity/pull/722) because we merged it in a branch different than `dev`, so I'm closing this manually.

[2021-02-24 08:27] #560 closed, assigned to cristianbote

[2021-02-24 08:28] SantosGuillamot commented on #558
This issue wasn't closed automatically after merging the linked [Pull Request](https://github.com/frontity/frontity/pull/722) because we merged it in a branch different than `dev`, so I'm closing this manually.

[2021-02-24 08:28] #558 closed, assigned to cristianbote

[2021-02-24 08:45] luisherranz commented on #723
@cristianbote, can you please finish the triage of this bug?

I suspect this problem was introduced by one of the many package updates we did in #640 but I'm not 100% sure.

Thanks!!

[2021-02-24 08:47] luisherranz commented on #723
EDIT: I am 100% sure that it was the #640 PR, but not which of the changes we did there (babel, dependency updates...)

[2021-02-24 08:50] cristianbote opened #727 "Navigating to a Server Side Rendered url with an extension, `.html`, shows 404 page"
**_Bug report_**

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org

**Expected behavior**

Navigating to a Server Side Rendered url with an extension

[2021-02-24 08:57] cristianbote commented on #726
Hi @harpreet9629,

Thank you so much for opening this issue. At a first glance, this doesn't look like an issue with the framework but rather a _how to_ question. For these kind of questions we encourage you to post it to our community forum https://community.frontity.org/. You will get all the help you need in there.

Have a great one!

[2021-02-24 08:59] #726 closed, assigned to cristianbote

[2021-02-24 09:00] cristianbote commented on #723
Ok. Will pick this up @luisherranz.

[2021-02-24 09:17] juanmaguitar commented on #726
For more context on this issue, this question was also in the Community Forum
https://community.frontity.org/t/frontity-default-state-source-dont-fetch-all-items-once-in-loop/4096

[2021-02-24 09:20] cristianbote commented on #726
Awesome 😃  Thanks @juanmaguitar for giving more context.

[2021-02-24 09:51] SantosGuillamot commented on #727
I've been taking a look at this and it seems this is possible in WordPress changing the permalinks like explained in [this guide](https://wpflux.com/14830-add-html-extension-wordpress-permalink-urls/).

Would it be enough to add that possibility in the [`wp-source` pattern](https://github.com/frontity/frontity/blob/dev/packages/wp-source/src/libraries/patterns/wp-org.ts#L78)?

I've done a quick te

[2021-02-24 12:14] luisherranz commented on #727
Maybe the pattern should only do that for `\.html`? In case there is a `.jpg` or a `.json` that people don't want to relate to an HTML page?

[code]

[2021-02-24 12:33] DAreRodz opened #728 "Redirections don't send you to localhost while running Frontity in dev mode"
**_Bug report_**

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org

**Expected behavior**

If you visit a URL that is redirected, and that redirection

[2021-02-24 13:59] cristianbote commented on #723
The slowness seems to come from `webpack-dev-middleware@4.x.x` -- don't ask me how long it took to figure it out 😰 ... opening up a PR.

[2021-02-25 13:08] SantosGuillamot opened #731 "Research - Server Side Rendering fallback for old browsers [13pt]"
We will keep the discussion about this in the [Feature Discussion](https://community.frontity.org/t/server-side-rendering-fallback-for-old-browsers/4112).

According to our [design principles](https://community.frontity.org/t/frontity-design-principles/3179), we prioritize for modern browsers and look only for usability in older browsers, not feature parity. This means that if you visit a Frontity

[2021-02-25 16:47] #723 closed, assigned to cristianbote

[2021-02-26 12:29] SantosGuillamot commented on #727
Sure. I did that because I saw that sometimes users use `.php` at the end of the urls, but I guess that case is even less common.

[2021-02-27 07:40] luisherranz commented on #727
Does that work? I thought `.php` extensions were only for php files.

[2021-02-27 10:04] MoatazAbdAlmageed opened #732 "hot reload not working"
I was folllowing the tutorial, first time styles not working, after investigations I fixed it.

but now hot reload not working

[2021-03-01 07:54] cristianbote commented on #711
@SantosGuillamot since we're gonna release a major version of `@frontity/google-analytics` to support GA4, does this mean that we would have to add AMP support for the `@frontity/google-analytics@1.x` and the new version as well?

[2021-03-01 08:12] luisherranz commented on #732
Hey @MoatazAbdAlmageed, could you please open the bug again and this time follow the bug template? (https://raw.githubusercontent.com/frontity/frontity/dev/.github/ISSUE_TEMPLATE/bug_report.md)

We need to be able to reproduce the issue to fix it 🙂

Thanks!!

[2021-03-01 08:12] #732 closed, assigned to nobody

[2021-03-01 09:03] SantosGuillamot commented on #711
In my opinion it would be enough to add AMP support from the new version we are planning to release. At some point, users should migrate to the new `@frontity/google-analytics` version because Google is pushing this new way of tracking. What do you think?

[2021-03-01 09:05] SantosGuillamot commented on #727
I think you are right, they are for php files. Then I guess with `.html` is enough.

[2021-03-01 09:07] #628 closed, assigned to DAreRodz

[2021-03-02 07:59] #719 closed, assigned to cristianbote

[2021-03-02 09:38] luisherranz commented on #727
I've just realized that people can also do this in their packages modifying their handlers in the `init` function:

<img width="775" alt="Screenshot 2021-03-02 at 10 34 34" src="https://user-images.githubusercontent.com/3305402/109628369-f7c6f000-7b42-11eb-8423-bdb83756673b.png">

[code]

So maybe we shouldn't complicate our default patterns for everyone else, don't you think?

I'll post the solut

[2021-03-02 10:04] cristianbote commented on #727
That's a great solution @luisherranz! 😃  I knew there was something that I was missing out on. Do you think we could/should talk about these concepts in the docs? step by step tutorial?

[2021-03-03 08:49] luisherranz commented on #727
Haha, yes. Sometimes we forget how extensible Frontity is.

That's up to the DevRel team 🤷‍♂️ 😄

---

Let's see if @hsbas can make this work and then we'll decide if we close this or not, ping the DevRel team and so on.

[2021-03-04 16:48] nicholasio commented on #695
Assigning this first task over to me, planning on working on this in the next few days.

[2021-03-05 08:13] luisherranz commented on #695
Awesome 👏 👏 😄

[2021-03-08 11:24] #712 closed, assigned to DAreRodz

[2021-03-08 19:14] DAreRodz opened #740 "JS modules with `<link rel="preload">` are requested twice"
**_Bug report_**

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org

This bug was noticed by @SantosGuillamot.

**Expected behavior**

A preloaded modu

[2021-03-09 01:49] michalczaplinski opened #742 "Html2React passes the `classname` down to custom web components if the element has a `style` attribute"
**Expected behavior**

When using Web Components in React (e.g. `amp-img`, `amp-iframe`) we have to pass a `class` prop to the component instead of `className` like in regular react components. Currently emotion has a known bug where you cannot use the `css` prop on the Web Components because of this. See: https://github.com/emotion-js/emotion/issues/1071 or https://github.com/emotion-js/emotion/p

[2021-03-09 08:58] luisherranz commented on #742
I liked the proposed solution, but I would maintain `node.props.css` in the processor API  even for custom elements, because I think it will be confusing for the final users if not.

I would do the switch from `className` to `class` at the very last moment, when we pass the component to React.

I've made a video to explain it better: https://www.loom.com/share/1cc04a54e63e47409ae036c0854d43d9

Thi

[2021-03-09 13:13] cristianbote commented on #740
Hey @DAreRodz was looking for a way to have it more imperative, but the regex is as good as it gets 😄 .

Precisely since we own the `ChunkExtractor` instance we could overwrite the `getLinkTags` with our own, but that would lead to monkeypatch a piece of the library that we don't really own. On the downside loadable components, does offer the _extraProps_ functionalities but it's not overwriting t

[2021-03-09 16:28] michalczaplinski commented on #742
I just quickly threw something together last night, but I agree that this is a better solution. Thanks @luisherranz I will try it 🙂

[2021-03-09 16:47] michalczaplinski commented on #742
To clarify: I proposed to use the `css` function from `@emotion/css` because it returns a hashed class name (which is what I wanted). The one from `@emotion/react` returns an object that you pass to the `css` prop on the component like:

[code]

But in your approach I don't need to mess with `@emotion/css` of course, so it's much better :)

[2021-03-10 01:09] michalczaplinski commented on #742
I've tried the above approach but unfortunately it does not work as we expected.

I think that the key thing to realize here is that the contents of the css prop are handled by emotion **in the babel plugin** which magically creates the class names from the content of the `css` prop.

So, when we get to the `handleNode()` function and are about to create the actual react components emotion still h

[2021-03-10 08:05] SantosGuillamot opened #743 "Infinite loop with 404 redirections in Embedded mode in some hostings [13pt]"
**_Bug report_**

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org

**Expected behavior**

While using the [redirects feature](https://community.front

[2021-03-10 10:41] luisherranz commented on #742
Thanks Michal! I have approved it but also left a comment in https://github.com/frontity/frontity/pull/741#pullrequestreview-608565808 with a couple of extra suggestions.

[2021-03-10 11:20] luisherranz commented on #743
Thanks for opening the bug Mario 🙂

I think the best way to handle this would be to return `false` in both the `isEagerRedirection` and `is404Redirection` checks if `state.frontity.options.embedded` is `true`.

https://github.com/frontity/frontity/blob/373de97da5ec882c4e4717775bc2a7ddb67e79be/packages/wp-source/src/utils.ts#L142-L186

---

We also need another issue in https://github.com/frontity/

[2021-03-10 11:40] hsbas commented on #727
I tried this in mars-theme index.js file. It didn’t work. I also tried in console but nothing changed. I can reach the same post multiple times with different browser tabs but when I press refresh button, it gives me 404 error. 😕

[2021-03-10 18:15] DAreRodz opened #744 "Frontity stops working when visiting a link without a trailing slash"
**_Bug report_**

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org

This was reported first in the community: https://community.frontity.org/t/error-w

[2021-03-10 18:39] DAreRodz commented on #744
@SantosGuillamot I guess this issue has critical priority so I've already created a PR instead of waiting for any decision. :slightly_smiling_face:

[2021-03-10 18:55] michalczaplinski opened #747 "`className` attribute in WordPress content overwrites the `class`."
**Observed behavior**

When a user has an element with a `className` attribute in their content, this attribute will be passed as `className` to the final react component created with `Html2React`.

Additionally, when a user has an element with both a `className` and `class` attribute in the WordPress content, that `className` will overwrite the `class`.

**Steps involved to reproduce the problem*

[2021-03-10 22:24] #742 closed, assigned to nobody

[2021-03-11 07:29] SantosGuillamot commented on #747
Are there any known cases where we are going to get className from WordPress content?

[2021-03-11 07:31] SantosGuillamot commented on #744
Great, thanks David :slightly_smiling_face:

[2021-03-11 07:41] SantosGuillamot opened #748 "Infinite Scroll loads the same post twice when there are queries in the url"
**_Bug report_**

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org

**Expected behavior**

When I visit a url with a query, like `?utm_campaign`, in a

[2021-03-11 09:50] #744 closed, assigned to nobody

[2021-03-11 16:12] michalczaplinski commented on #747
Nope, I don't know of any cases at the moment. It's only that it's possible to happen.

[2021-03-12 09:06] luisherranz commented on #629
Blocked until the BrowserStack team answers this question: https://github.com/frontity/frontity/pull/749#issuecomment-797346383

[2021-03-12 11:29] SantosGuillamot commented on #727
I posted this in the [community forum](https://community.frontity.org/t/wordpress-urls-ending-in-html/3996/40?u=santosguillamot), but I'll paste it here as well.

I think the issue is because we are using the [init function](https://docs.frontity.org/learning-frontity/actions#init-client-and-server), which doesn't guarantee that the libraries from other packages have been initialized. In this case

[2021-03-12 11:34] SantosGuillamot commented on #743
You're totally right. I've just opened it -> https://github.com/frontity/frontity-embedded/issues/10

[2021-03-12 11:35] SantosGuillamot commented on #743
I guess we should consider this `blocked` until the other issue is closed right?

[2021-03-12 15:22] luisherranz commented on #748
This problem keeps beating us. We really need to have this fixed in a way that there is a way to tell Frontity what queries it should ignore and what queries it should preserve.

Related: https://community.frontity.org/t/wpsource-define-a-map-of-allowedqueries-to-only-preserve-them-in-data-references-links/3501

[2021-03-12 16:03] luisherranz opened #751 "Infinite Scroll Hooks: Restoring scroll when going back and forward in Firefox"
**_Bug report_**

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org

**Expected behavior**

When going back to a page that was using an Infinite Scroll

[2021-03-12 16:16] luisherranz commented on #629
They answered. Unblocking this.

[2021-03-12 21:38] #587 closed, assigned to michalczaplinski

[2021-03-13 13:52] bjoluc opened #753 "Weird production-only behaviour of global styles with css vars"
## Bug report

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org

### Expected behavior

Using
[code]
in [the theme's root component](https://github.co

[2021-03-15 11:24] cristianbote commented on #753
Hi @bjoluc,

Thanks for opening this issue! This issue looked weird indeed, so, I jumped on it to see what's happening here. The issue is with `@emotion/react`.

There's a missing `;` that's causing this.
https://github.com/bjoluc/frontity-weird-global-css-beaviour/blob/974cf73c00190d8a076122e6219f76d2e4b01063/packages/mars-theme/src/components/index.js#L9

To fix this, add it like so:
[code]

Mad

[2021-03-15 11:53] SantosGuillamot commented on #751
I guess this may be related to this other bug opened some months ago right? -> [Scroll restoration when going back in history doesn't work in Firefox](https://github.com/frontity/frontity/issues/427).

Should we keep only one issue?

[2021-03-15 12:06] SantosGuillamot commented on #751
By the way, I tried to reproduce it in our blog, which is using the Infinite Scroll, but I wasn't able. In this case, it is weird as well but it goes back to the correct page but some pixels below the expected position. I've made a video showing it.

https://www.loom.com/share/15f1e25e15ac4307b2823578867354a5

I have tested it in my laptop (Ubuntu) and in BrowserStack Live (with macOS Catalina), a

[2021-03-15 13:24] bjoluc commented on #753
Thanks @cristianbote for the quick investigation! I didn't notice there was no semicolon at the end of the block. The breaking css variable rule was part of a minified css file of [Swiper](https://swiperjs.com/swiper-api#css-styles) which only provides minified css files for individual components, so there's no easy workaround for me here (except probably including the entire Swiper css bundle, wh

[2021-03-15 13:39] cristianbote commented on #753
Glad I could help!

Indeed, it is, for css properties and values.

`emotion`, `styled-components` and others are using `stylis` to parse the strings into CSS. So I've verified if this is indeed coming from `stylis` and it seems so. You can interactively try it here https://stylis.js.org/. Also it seems it only happens when using CSS vars.

And if you think about it, it makes total sense, cause a c

[2021-03-15 15:32] bjoluc commented on #753
Thanks a bunch for sharing your expertise; it is greatly appreciated! I discovered https://github.com/thysultan/stylis.js/issues/250 which deals with this exact issue. For now, I will likely regex myself around this on the minified styles. Thanks!

[2021-03-15 15:32] #753 closed, assigned to michalczaplinski

[2021-03-16 08:11] cristianbote commented on #740
Turns out that this might be a bug introduced in Chrome 88 and using `modulepreload` will work _only_ for Chrome. The rest fo the browser will still double preload the resources.

I will investigate more and have a clear solution.

[2021-03-16 08:32] luisherranz commented on #740
Thanks for looking into this Cris! 👍

I asked about official `module` support a while ago https://github.com/gregberge/loadable-components/pull/239#issuecomment-482501467 but it doesn't seem like there has been any movement yet in that regard.

[2021-03-16 09:15] SantosGuillamot commented on #727
I have been testing the different possibilities mentioned here and I found the same problem in all of them: the SSR only works for the archive pages and the latest post. If I try to SSR another post, it returns a 404. I think it isn't related to the `slug`, the title, or the content of the post because if I create a new post, the new one works but the old one stops working.

Do you have any clue w

[2021-03-16 16:59] luisherranz commented on #743
No, we can work on this independently. It's only a matter of adding the `?frontity_embedded=true` query to the e2e tests or `state.frontity.options.embedded: true` to the state.

[2021-03-16 17:15] luisherranz commented on #751
Yes, it is certainly weird. I am not able to reproduce the problem described in https://github.com/frontity/frontity/issues/427 anymore either.

Let's talk over that issue.

[2021-03-16 17:16] luisherranz commented on #427
@orballo, can you still reproduce this error?

[2021-03-17 08:55] cristianbote commented on #740
Here's my investigation summary.

* Chrome 87 works fine
* Chrome 89 double preloads

![Screenshot 2021-03-17 at 10 52 32](https://user-images.githubusercontent.com/3405161/111440702-4661b600-870f-11eb-9ae4-21dee8fd5711.png)

Here's a video as well https://www.loom.com/share/98a0bc210e964f55910b837a84146473

[2021-03-17 12:56] SantosGuillamot commented on #740
Thanks for the explanation Cristian :slightly_smiling_face:

In case it is useful, the same is happening in Firefox 86.0. It stops happening in Firefox 84.0.

![Screenshot from 2021-03-17 13-55-23](https://user-images.githubusercontent.com/34552881/111470880-9731d880-8728-11eb-8b5f-5f13986249a4.png)

[2021-03-17 13:36] SantosGuillamot commented on #740
Another thing I notices is that it seems it only happens in the production build, not when I run `npx frontity dev`:

Running **`npx frontity build && npx frontity serve`**:
![Screenshot from 2021-03-17 14-31-57](https://user-images.githubusercontent.com/34552881/111476001-fc3bfd00-872d-11eb-8ab7-48124ae395bf.png)

Running **`npx frontity dev`**:

![Screenshot from 2021-03-17 14-32-52](https://use

[2021-03-17 13:42] cristianbote commented on #740
This is definitely a Chrome issue. More details in here https://bugs.chromium.org/p/chromium/issues/detail?id=1178198

[2021-03-17 14:00] cristianbote commented on #740
@SantosGuillamot yup. Apparently this _should_ be the way forward for module but it's not adopted yet by everyone.

Reading the above linked thread seems that Safari does not pick-up the `modulepreload`. The base behaviour seems to be that every browser, regardless of module of script, should/could respect the `rel="preload"`. That way we won't get the double preload anymore, but we can opt-in for

[2021-03-17 16:04] luisherranz commented on #727
I have made a video to explain how this type of URLs can be configured and I posted it in the community thread: https://community.frontity.org/t/wordpress-urls-ending-in-html/3996/50

I am going to close this issue now because supporting `.html` ending URLs in all the handlers doesn't seem like something Frontity should do by default. It won't even be useful in this case because the URLs of @hsbas

[2021-03-17 16:04] #727 closed, assigned to SantosGuillamot

[2021-03-18 08:43] luisherranz commented on #740
That's a good approach. The problem is that the cache/CDN also needs to support caching different HTML files per each user agent, which as far as I know it is not common.

From Mario's experiments, it seems like Firefox already supports `modulepreload`, doesn't it?

So if we follow our design principle of "Prioritize for modern" browsers, what should we do? I guess we should start using `modulepre

[2021-03-18 08:52] SantosGuillamot opened #756 "Do not return a 301 which redirects again to the same link [8pt]"
**_Bug report_**

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org

**Expected behavior**

If there is a redirect to the same link, Frontity shouldn't

[2021-03-18 11:24] SantosGuillamot commented on #740
What I've seen is that after Firefox 84 the scripts appear twice and using `modulepreload` solves the problem. But I don't know how to test if the preload is actually working. Any ideas?

I've been trying to understand the preload better and I found a couple this article interesting. It's from 2017, but it explains the issue we are having and the reason behind `modulepreload` -> https://developers

[2021-03-18 13:01] #629 closed, assigned to luisherranz

[2021-03-23 13:48] cristianbote commented on #743
Hey @luisherranz, I've picked this up and started looking at it. A couple of questions:

When you said:

Which tests were you referring to? I assume those tests are testing this functionality? Just wanna make sure I can verify the implementation with a test case.

[2021-03-23 14:15] nullvariable opened #760 "PR template has wrong link"
**_Bug report_**
for PR template on Github

**Expected behavior**
Link in PR explaining about how to contribute should go to a working page

**Observed behavior**
This link from https://github.com/frontity/frontity/blame/dev/.github/pull_request_template.md#L9 is broken:

contributing guidelines found in the
https://docs.frontity.org/contributing/code-contributions.

**Steps involved to reproduce

[2021-03-23 14:41] #760 closed, assigned to nobody

[2021-03-23 14:47] danielbruni opened #762 "RangeError or RecursionError with page queries"
**_Bug report_**

If i use multiple params/query on a page. The console throws an error.

**Expected behavior**
The page should load without error.

**Observed behavior**

Console throws ```Uncaught (in promise) RangeError: Maximum call stack size exceeded``` or ```Uncaught (in promise) InternalError: too much recursion``` and some components wont load.

**Steps involved to reproduce the problem**

[2021-03-23 17:10] michalczaplinski commented on #762
Hi @danielbruni 👋 Thanks for the report!

I cannot reproduce this issue with the latest version of Frontity after creating a fresh project with `npx frontity create`. Neither does it show up when I use the official [Frontity Codesandbox](https://codesandbox.io/s/github/frontity/codesandbox-frontity).

But you're right that it happens in the frontity.org. The site is running one version of Frontity

[2021-03-24 11:05] cristianbote commented on #747
Was reading through this and it hit me, that `className` is a property of a DOM node, not an attribute. So, even if it exists on the html coming from WP I think it needs to be simply ignored.

That means we need to skip it when we find it. Pushed a change on that PR @michalczaplinski. Let me know what you think.

[2021-03-24 21:52] michalczaplinski commented on #747
Yup, I think that this is the reasonable behaviour I was expecting :)

[2021-03-25 09:34] danielbruni commented on #762
Hi @michalczaplinski  Thank you for the quick reply.

I updated all frontity packages and its working now as expected.

Thank you very much!

[2021-03-25 09:34] #762 closed, assigned to nobody

[2021-03-25 16:38] luisherranz commented on #743
Yes, what I meant is that we don't need to use a WordPress instance with the Embedded mode plugin installed to test this. We can just use `http://localhost:3001?frontity_embedded=true` to simulate the Embedded mode 🙂

I wasn't referring to any specific test. I guess we will have to add new ones to test this out, won't we?

[2021-03-26 11:32] #747 closed, assigned to nobody

[2021-03-26 17:02] #756 closed, assigned to michalczaplinski

[2021-03-27 03:23] Skorefin opened #769 "Image optimisation?"
Are images optimised with the build system or need to do externally?

Bob

[2021-03-28 08:58] luisherranz commented on #769
Hey @Skorefin, please use the community forum for questions 🙂

No, they are not. We usually recommend Jetpack: https://community.frontity.org/t/webp-image-support/1129/4?u=luisherranz

[2021-03-28 08:58] #769 closed, assigned to nobody

[2021-04-06 17:35] michalczaplinski commented on #740
It's already been triaged so removing the label

[2021-04-07 06:51] SantosGuillamot opened #772 "AMP validation errors"
**_Bug report_**

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org

**Expected behavior**

All the pages in test.frontity.org should be AMP valid.

**

[2021-04-08 07:22] luisherranz commented on #740
So, what is our final decision here? Use `modulepreload` to prioritize modern browsers (and LightHouse score)?

@javiersefer we'd love your input here as well 🙂

[2021-04-09 08:56] EidenEidenEiden opened #773 "Bug: Combining connect with forwardRef results in wrong warning messages"
**_Bug report_**

Hey guys,

wrapping a component in Reacts forwardRef while also connecting ({connect} from frontity) produces warnings about the component not being connected (which it is).

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: h

[2021-04-09 09:50] SantosGuillamot commented on #740
In my opinion we should go with `modulepreload`, although I think it is still not working in Firefox and Safari. These are my thoughts:
* It fixes the issue of the duplicated request for all the browsers, even the ones where `modulepreload` is not supported yet.
* It is already supported by 71% of the browsers usage and it's supposed to be the way of doing it in the future.
* LightHouse, that coul

[2021-04-09 09:57] luisherranz commented on #773
Hey @EidenEidenEiden, thanks for the heads up 🙂

Frontity `connect()` doesn't support `forwardRef` components yet because the underlaying implementation (`view()` from `react-easy-state`) doesn't either.

I opened an issue in the `react-easy-state` repository a while ago (https://github.com/RisingStack/react-easy-state/issues/187) and @cristianbote and I have been exploring different options latel

[2021-04-09 15:52] DAreRodz commented on #710
Blocked as per https://github.com/frontity/frontity/pull/766#issuecomment-816778174

All the work is done, that issue is just preveting the e2e tests to pass.

[2021-04-12 06:25] cristianbote commented on #740
Good points all around. I agree, sounds like `modulepreload` should be used, based on our principles as well:

[Performance](url)

Prioritize for Modern Browsers
  * Don’t sacrifice size and perf of modern browsers
  * Look only for usability in older browsers, not feature parity

Prioritize in this order
   * Final user experience
   * Performance
   * Developer experience
   * Core implementatio

[2021-04-12 07:36] luisherranz commented on #740
Ok, thanks guys. Let's do it then 🙂

[2021-04-12 16:01] michalczaplinski opened #780 "`npm install` fails after cloning a repo"
**Expected behavior**

`npm install` should succeed

**Observed behavior**

npm fails with the following error:

<img width="726" alt="Screen Shot 2021-04-12 at 11 05 35" src="https://user-images.githubusercontent.com/5417266/114425769-03182d00-9b7f-11eb-982b-b7214fcecafc.png">

**Steps involved to reproduce the problem**

[code]

**Info about your system**

node version 15
npm version 7.6.0

**Po

[2021-04-12 17:01] michalczaplinski commented on #780
Running the contents of the `build` script of the `@frontity/frontity` package before running `npm i` at the root fixes the issue. Details:

Using the globally installed `typescript` I can run `tsc --project ./tsconfig.build.json && cp -a templates dist/templates`. Then, running `npm i` at the root succeeds.

The problem seems to be that lerna seems to try to run `frontity` somewhere before the `@

[2021-04-12 20:32] michalczaplinski commented on #780
After some more investigation, this is a bug in `npm`: https://github.com/npm/cli/issues/3065

When npm tries to symlink the `bin` of the `@frontity/frontity` package it runs into this problem because the `prepublish` script was not run and thus the file does not exist.

---

Interestingly, the problem is a bit deeper than that. I can change the `prepublish` scripts in our packages to `prepare` an

[2021-04-13 06:37] luisherranz commented on #780
I added them so `npx changeset` suggestions are only shown for the packages that can be released.

Changesets don't support lerna: https://github.com/atlassian/changesets/issues/130.

<img width="200" alt="Screenshot 2021-04-13 at 08 31 45" src="https://user-images.githubusercontent.com/3305402/114507267-2ef4ea80-9c33-11eb-8922-9ad7c15cf968.png">

Without it, it makes suggestions for all `package.

[2021-04-13 07:58] #743 closed, assigned to cristianbote

[2021-04-13 16:07] mburridge opened #782 "HMR loads the data object that was used in SSR rather than re-using the data object for the current link"
**_Bug report_**

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org

**Expected behavior**

Upon making an edit to a theme file when you save the file

[2021-04-13 17:49] michalczaplinski commented on #780
ok nice! I think that `changesets` *should* support lerna now. They [switched](https://github.com/atlassian/changesets/blob/main/packages/cli/src/run.ts#L39) to using `@manypkg/get-packages` which [has support for lerna](https://github.com/Thinkmill/manypkg/pull/63).

[2021-04-13 18:40] #780 closed, assigned to michalczaplinski

[2021-04-13 23:00] michalczaplinski commented on #782
We've reproduced it together with @mburridge in the mars theme. It can be reproduced easily by running the mars-theme in `projects/mars-theme`.

I'm investigating it - I *think* it might be related to Frontity changing the link in the `init()` of the `tiny-router`: https://github.com/frontity/frontity/blob/a2495512f587fd4d00f8949f0cbf4c42be227329/packages/tiny-router/src/actions.ts#L179-L225

[2021-04-14 00:36] michalczaplinski commented on #782
Found the problem.

If I comment those lines out, the issue goes away:
https://github.com/frontity/frontity/blob/a2495512f587fd4d00f8949f0cbf4c42be227329/packages/tiny-router/src/actions.ts#L216-L218

For a clearer explanation:

https://www.loom.com/share/f056ddd03a244bac974ef064fd7c36e5

[2021-04-14 01:10] michalczaplinski commented on #782
I think that it's not a bug per se; rather the issue is that we should not be running the `init()` actions on the client after an HMR!

@luisherranz Am I correct in saying this?

[2021-04-14 07:05] luisherranz commented on #782
I'm not entirely sure. Could be.

We can also disable that change if it's a HMR cycle?

Maybe something like this:

[code]

I'll a test later!

[2021-04-14 09:25] luisherranz commented on #780
Good to know 👍 🙂

[2021-04-14 13:41] luisherranz commented on #782
It seems like the `init()` functions still need to be executed.

I have proposed a solution for this exposing a `state.frontity.hmr` flag here: https://github.com/frontity/frontity/pull/783

[2021-04-14 19:35] #728 closed, assigned to DAreRodz

[2021-04-14 20:37] #607 closed, assigned to nobody

[2021-04-16 07:56] #236 closed, assigned to nobody

[2021-04-16 08:22] DAreRodz commented on #716
Hey, I'm gonna work on this issue. From the conversation above (https://github.com/frontity/frontity/issues/716#issuecomment-777340627), I understand that the steps we should follow here are:

1. Pass `libraries` to derived state
2. Remove `actions` from `Derived` type
3. Update TSDocs

Is that correct?

cc: @luisherranz @michalczaplinski

[2021-04-16 08:51] #782 closed, assigned to michalczaplinski

[2021-04-16 14:13] luisherranz commented on #716
Yes it is!

[2021-04-19 09:27] #716 closed, assigned to DAreRodz

[2021-04-20 08:04] #740 closed, assigned to cristianbote

[2021-04-21 03:40] #772 closed, assigned to michalczaplinski

[2021-04-21 07:13] SantosGuillamot opened #794 "Make Frontity components AMP-aware"
This is needed for [AMP feature](https://community.frontity.org/t/amp-package/388/). For full context please check out the [final Implementation proposal](https://community.frontity.org/t/amp-package/388/10?u=santosguillamot).

---

The AMP framework uses a special syntax for the [images](https://amp.dev/documentation/components/amp-img/), the [iframes](https://amp.dev/documentation/components/amp

[2021-04-21 07:28] #710 closed, assigned to DAreRodz

[2021-04-21 09:25] #691 closed, assigned to DAreRodz

[2021-04-21 10:06] #602 closed, assigned to DAreRodz

[2021-04-22 09:27] #630 closed, assigned to SantosGuillamot

[2021-04-22 17:00] #497 closed, assigned to DAreRodz

[2021-04-26 18:24] siddjain opened #803 "state.frontity.url has no effect"
**_Bug report_**

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org

**Expected behavior**

Frontity should prefix requests for all resources with `sta

[2021-04-26 19:48] luisherranz commented on #803
I think you are looking for the `--public-path` option. It can be used with both `npx frontity dev` and `npx frontity build`. Docs are here: https://api.frontity.org/frontity-cli/build-commands/build#the-public-path-option

Next time, ask the question in the community: https://community.frontity.org. Thanks!

[2021-04-26 19:48] #803 closed, assigned to nobody

[2021-04-26 20:18] siddjain commented on #803
Hello, we used the `--public-path` and it did get us past a few XHR errors. But still Chrome is showing 404 for following resources:

- https://XXX/__webpack_hmr
- http://<state.source.url>/wp-json/wp/v2/posts?_embed=true&page=1

Regarding the first, XXX is equal to `window.location.hostname` whereas we would like it to equal a path we set.

Regarding the second, shouldn't this call be happening o

[2021-04-27 15:44] SantosGuillamot opened #805 "Frontity returns a 404 in all pages when state.source.homepage is defined"
**_Bug report_**

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org

**Expected behavior**

All the pages should work fine even if `state.source.homepa

[2021-04-27 15:56] #748 closed, assigned to michalczaplinski

[2021-04-27 18:14] DAreRodz commented on #751
I'm not sure but, after spending some days investigating, it looks like a problem related to Frontity running inside an iframe. I recorded a video showing it:

<a href="https://www.loom.com/share/5b38acfef1a9452ab601c17e52507517"> <p>Infinite Scroll Hooks: Restoring scroll when going back and forward in Firefox · Issue #751 · frontity/frontity - Watch Video</p> <img style="max-width:300px;" src="h

[2021-04-27 19:21] #254 closed, assigned to DAreRodz

[2021-04-28 07:47] luisherranz commented on #751
Great discovery David! 🙂

My opinion is that we can close this. It clearly seems like a Firefox problem, not ours, and a marginal one because only affects apps run inside iframes.

[2021-04-28 07:55] SantosGuillamot commented on #751
Thanks for the detailed explanation David :slightly_smiling_face:

I agree that it doesn't seem to be a Frontity issue and it isn't a big deal anyway. As we are all aligned I'm closing it.

[2021-04-28 07:55] #751 closed, assigned to DAreRodz

[2021-04-28 13:22] Sanjeevsetu opened #807 "TypeError: Cannot read property 'name' of undefined"
TypeError: Cannot read property 'name' of undefined
      at state (webpack-internal:///./node_modules/@frontity/core/src/server/utils/initial-state.ts:15:395)
      at store (webpack-internal:///./node_modules/@frontity/core/src/server/store.ts:14:124)
      at eval (webpack-internal:///./node_modules/@frontity/core/src/server/middlewares/settings-and-store.ts:21:83)
      at eval (webpack-intern

[2021-04-28 13:25] luisherranz commented on #807
Hi @Sanjeevsetu, please provide a CodeSandbox and a concise list of steps that we need to do to reproduce the bug. Feel free to reopen this issue once that is added 🙂

[2021-04-28 13:25] #807 closed, assigned to nobody

[2021-04-28 14:37] DAreRodz commented on #278
I wasn't able to reproduce this issue so it seems that it could be addressed in a different PR. @rmartinezduque, do you remember which browser you used for your tests?

[2021-04-28 15:05] rmartinezduque commented on #278
Hey @DAreRodz, the issue with the featured images was already fixed by Mario - https://github.com/frontity/frontity.org/pull/160.

However, the problem with the fonts it's still happening (see first screenshots). Let me know if I can be of any help!

[2021-04-29 09:53] #805 closed, assigned to michalczaplinski

[2021-04-29 12:21] luisherranz opened #809 "Remove negative lookbehind in regular expressions"
**_Bug report_**

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org

**Observed behavior**

Our Cypress tests fail on Firefox 70 because it doesn't sup

[2021-04-29 15:00] #809 closed, assigned to DAreRodz

[2021-05-05 12:58] #278 closed, assigned to DAreRodz

[2021-05-12 09:29] #711 closed, assigned to DAreRodz

[2021-05-12 19:22] michalczaplinski commented on #794
@SantosGuillamot Could you clarify this for me? Do we want to deprecate the [`useInView` hook](https://github.com/frontity/frontity/blob/9b3349fbda0ba21466ae039a6be8a00ed0a8f601/packages/hooks/use-in-view/index.ts#L13-L25) and only rely on native lazy-loading or are you talking about something else?

[2021-05-12 19:26] ayoubkhan558-zz opened #817 "Need latest WordPress & Reactjs update?"
Need update to latest WordPress v5.7.1 and latest Reactjs version v17.0.2?

[2021-05-12 19:48] michalczaplinski commented on #817
Hi @ayoubkhan558 !

We use the community forum: https://community.frontity.org for questions like this one as is explained in the issue template.

Please ask your question there and provide more context. It's not clear why you think that you need to update to the latest WordPress / React versions? Have you come across any other issues?

[2021-05-12 19:48] #817 closed, assigned to nobody

[2021-05-14 07:20] SantosGuillamot commented on #794
I don't think we have to deprecate the `useInView` hook because I guess it could be useful for elements where native lazy-loading doesn't affect. I think we should remove the fallback, at least, in the Image component because it could affect the performance. I think these are [the lines of code](https://github.com/frontity/frontity/blob/dev/packages/components/image.tsx#L125-L150) we are talking a

[2021-05-14 07:45] luisherranz commented on #794
Yes, `useInView` is used in many places, not only in `<Image>` and `<Iframe>`.

It's not only those lines, it's pretty much the whole component! 😄

Something along these lines:

[code]

_The API (component props) can't change because it needs to be backward compatible._

The problem with the current component is that the image doesn't load until the hydration has finished, which means a very bad L

[2021-05-17 17:42] michalczaplinski commented on #794
ok, gotcha. Thanks guys! 🙂

[2021-05-17 18:50] michalczaplinski opened #820 "It is not possible to verify ownership of a site using the Google Tag Manager package."
**Expected behavior**

A user using the Google Tag Manager package should be able to verify the ownership of their site in the Google Search Console.

**Observed behavior**

The site verification fails.

**Steps involved to reproduce the problem**

The issue was originally reported [in the forum](https://community.frontity.org/t/google-tag-manager-integration/4568). I cannot reproduce it without s

[2021-05-18 10:05] rmartinezduque opened #821 "Issue with embedded tweets in Frontity's blog posts"
**_Bug report_**

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org

**Expected behavior**

Blog posts with embedded tweets should be properly displaye

[2021-05-19 02:01] michalczaplinski commented on #794
I've read through those community posts:
- https://community.frontity.org/t/image-component-avoid-layout-shift-on-image-load/866/
- https://community.frontity.org/t/html2react-breaks-images-within-figure/2674/

and there are still some things that are not clear to me.

I think that the problem here is that we don't **show** the image until hydration:

https://www.loom.com/share/ce5cf10b85fe49609f4

[2021-05-20 07:58] SantosGuillamot commented on #794
Thanks for the explanation Michal :slightly_smiling_face: The initial idea was that, as we were going to work on the Image component for this feature, we could take the opportunity to remove the fallback of the IntersectionObserver which was causing some issues. The way I see it, I agree the option 2 would be a better solution, but as you mention it seems to be many extra work. I would go with the

[2021-05-20 08:00] luisherranz commented on #794
It's not that much the visibility of the image but the fact that the SSR'ed `<img>` tag doesn't have a `src` and `srcset` attribute:

- **SSR**: An `<img>` with `data-src` and `data-srcset`. The browser doesn't start the network request because it has no `src`.
- **Hydration**: Frontity changes the `data-src` to `src` and `data-srcset` to `srcset`. The browser sees the `src` attribute and does the

[2021-05-21 05:37] #821 closed, assigned to cristianbote

[2021-05-25 09:26] luisherranz opened #829 "Packages that contain `webpack` in the name are not transpiled"
**_Bug report_**

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org

**Expected behavior**

A package that contains `webpack` in the name, like for exa

[2021-05-25 15:19] #829 closed, assigned to luisherranz

[2021-05-27 21:31] TiborUdvari opened #833 "Homepage with subdirectory returning 404"
**_Bug report_**

I needed to update all my packages to be able to use the `yoast` plugin. I have a multilanguage site using WPML in the backend. After updating frontity does not recognize my homepage anymore and returns a 404 page. Might be related to #806

**Expected behavior**

I'm expecting it to return the homepage.

**Observed behavior**

A 404 page is returned.

**Steps involved to reproduc

[2021-05-28 09:32] luisherranz commented on #833
@TiborUdvari you need to isolate your problem. We can't inspect such a huge project that we are not familiar with.

As you have a moment in your git history where it worked, and then the moment when it broke, I suggest you to go back to the moment where it worked and repeat your steps until you find the exact moment when the bug started.

Once you have that information, we can analyze and fix the

[2021-05-28 10:08] TiborUdvari commented on #833
Hi,

I updated these packages following your guide [Keep frontity updated](https://gitbook-docs.frontity.org/guides/keep-frontity-updated)

Before (working)
[code]

After(homepage 404 with subdirectory setting)
[code]

Here are the relevant settings from `frontity.settings` which were working before:
`frontity.settings.js`

[code]

The only thing I need help with is this 404 error from `wp-source`

[2021-05-28 10:10] luisherranz opened #835 "Transpile `frontity.config.js` files"
**_Bug report_**

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org

**Expected behavior**

The `frontity.config.js` files should be transpiled on the

[2021-05-28 10:15] luisherranz commented on #833
I think it is `state.source.homepage`.

By the way, have you tried using:

[code]

Sure, that's totally fine, but use a clean Frontity project with just the modifications that lead to the bug 🙂

[2021-05-28 10:48] nicholasio commented on #835
For testing, you can also just try to install `npm i @10up/frontity-build-config@0.1.0` which isn't commonjs.

[2021-05-28 11:40] TiborUdvari commented on #833
Yes, I've tried `/fr/homepage`, `homepage`, `/homepage` ... doesn't seem to work. The `router.state.link` is `/fr/` which is to be expected. The mapping of this route doesn't happen to the homepage.

I'll try to setup a minimal example.

[2021-05-28 12:11] TiborUdvari commented on #833
Here it is:

https://codesandbox.io/s/frontity-subdirectory-homepage-bug-8twui?file=/frontity.settings.js

I added an example with the working config, that doesn't use the `subdirectory` and my desired, but non working config.

[code]

[2021-05-28 13:34] luisherranz commented on #833
Thanks a lot, that's much more helpful 🙂

Defining `state.source.api` is deprecated, you should only define `state.source.url`.

Docs: https://api.frontity.org/frontity-packages/features-packages/wp-source#state-source-api

It works for me with these settings:

[code]

Is there a reason why you need to define both `state.source.url` and `state.source.api`?

[2021-05-28 14:03] TiborUdvari commented on #833
With this config the `/fr/` homepage works as expected, but it makes it so the other pages don't work anymore, like `/fr/contact`. I can't find a way to make both cases work at the same time.

I have no particular reason to use both `source.url` and `source.api`, I was just trying out all the possibilites, and also I started with a starter project that had those defined.

[2021-05-31 13:24] luisherranz commented on #833
I see, thanks 🙂

@darerodz, could you please help us figure out what is the correct configuration?

The docs for [`subdirectory`](https://api.frontity.org/frontity-packages/features-packages/wp-source#state-source-subdirectory) say that:

So this setting is transforming the normal pages, like `/fr/contact` to `/contact`, but their links are `/fr/contact`. So even if Frontity [finds them in the RES

[2021-05-31 16:37] luisherranz commented on #835
This should do it: https://github.com/frontity/frontity/pull/837

[2021-06-01 08:08] vb147 opened #838 "not working frontity (I like to run Frontity but I can not help please)"
Error: Invalid hook call. Hooks can only be called inside of the body of a function component. This could happen for one of the following reasons:
  1. You might have mismatching versions of React and the renderer (such as React DOM)
  2. You might be breaking the Rules of Hooks
  3. You might have more than one copy of React in the same app
  See https://reactjs.org/link/invalid-hook-call for tip

[2021-06-01 08:24] luisherranz commented on #838
Please, follow the bug template and provide a [codesandbox/stackblitz](https://github.com/frontity/frontity-template) that reproduces the bug.

[2021-06-01 08:24] #838 closed, assigned to nobody

[2021-06-01 10:02] vb147 commented on #838
Why does this error occur in my system? Do React Versions Overlap? Do I have to define a alias for React in Web Pack?

[2021-06-01 10:53] vb147 opened #839 "Why does this error occur in my system? Do React Versions Overlap? Do I have to define a alias for React in Web Pack?"
Error: Invalid hook call. Hooks can only be called inside of the body of a function component. This could happen for one of the following reasons:

You might have mismatching versions of React and the renderer (such as React DOM)
You might be breaking the Rules of Hooks
You might have more than one copy of React in the same app
See https://reactjs.org/link/invalid-hook-call for tips about how to d

[2021-06-01 10:55] luisherranz commented on #839
Hi @vb147. Again, if you think that there is a bug in Frontity please follow the BUG TEMPLATE that appears when you click on the `New Issue` button. Thanks 🙂

[2021-06-01 10:55] #839 closed, assigned to nobody

[2021-06-02 07:30] #835 closed, assigned to nobody

[2021-06-07 08:57] TiborUdvari commented on #833
Are there any suggestions on this issue? I think it's a deal breaker for many people that need to make multi-language websites. 😬 For now I managed to do a manual handler, but it defeats the purpose of using frontity ...

[2021-06-08 05:46] luisherranz commented on #833
@DAreRodz, any insights on this one? 😄

[2021-06-09 06:45] DAreRodz commented on #833
I was busy these days, sorry. Looking into it right now. :detective:

[2021-06-09 07:34] DAreRodz commented on #833
I see ~~two~~ **one** problem here:

- ~~The `Link` component seems to remove the subdirectory (e.g. `/fr/contact` -> `/contact`) so it is not navigating to the correct URL. That's unexpected. :confused:~~ Ok, this one was because `state.frontity.url` needs to be specified. That property should contain the final URL of the Frontity site, including the subdirectory. That's where the subdirectory is

[2021-06-10 08:01] luisherranz commented on #833
Is that a bug?

[2021-06-10 09:05] DAreRodz commented on #833
I wouldn't say it's a bug.

The `@frontity/wp-source` package works this way: if your WordPress site contains a subdirectory (e.g. `https://backend.gama-am.ch/fr`), it expects all links coming from the REST API to start with that subdirectory (`/fr`, `/fr/about-us`, `/fr/contact`, etc).

Then, the package transforms those links, either removing the WordPress subdirectory or replacing it with the v

[2021-06-10 11:26] TiborUdvari commented on #833
I'm not sure why it does that. The use case is having these pages working:

`/fr/` - french homepage
`/fr/about-us/` - french about us (validate if working: title is A propos)
`/en/` - english homepage
`/en/about-us/` - en about us page

I can't get the configuration to have the homepage and all of these use cases working.

[2021-06-11 21:44] codemonkeynorth opened #845 "(yoast) %%page%% not interpreted in title field"
**_Bug report_**

`%%page%%` not interpreted in title field

**Expected behavior**

a title defined as such for a taxonomy:
`%%term_title%% Archives %%sep%% %%page%% %%sep%% %%sitename%%`

should give me eg
`General Archives - Page 2 of 3 - My Site`

**Observed behavior**

the title when i visit `/example_taxonomy/general/page/2/`

just shows `General Archives - My Site`

**Steps involved to repro

[2021-06-11 21:52] codemonkeynorth commented on #845
actually I see this noted by @luisherranz  here : https://community.frontity.org/t/yoast-seo-rest-api-head-tags-compatibilty/1651/7

[2021-06-14 12:26] DAreRodz commented on #833
OK, the thing is, setting `state.frontity.url` and `state.source.subdirectory`, Frontity should work for this use case:

[code]

In your case, however, the problem is that links come from the REST API with an unexpected format, i.e. not including the subdirectory. For example, requesting the Contact page, the link of the page entity is `https://backend.gama-am.ch/contact/`, but Frontity is expecti

[2021-06-14 15:06] codemonkeynorth opened #846 "(mars theme) aria-current="page" should be retained on menu for eg /blog/page/N/"
(sorry if this is not the place for this... should these minor issues just be raised on the forum?)

**_Bug report_**

**Expected behavior**

When visiting eg `/blog/page/2/` the "Blog" item should still be highlighted in the menu.
this is currently created by
`aria-current={state.router.link === link ? "page" : undefined}`
and so only works on the first page

**Observed behavior**

Blog item is u

[2021-06-15 14:10] ayoubkhan558-zz commented on #817
I did have any issues, I was just saying that updating fortify to latest version of WordPress & Reactjs  will be a god idea, So it will be more stable, more efficient.

[2021-06-21 08:53] luisherranz commented on #845
Yes, this is a current limitation of the Yoast plugin, because it doesn't expose the pagination in the REST API.

I have been pinging the Yoast time from time to time to see if they can finally add support for this but they haven't done so yet. We will update our `@frontity/yoast` package as soon as they do.

I'm going to close this issue for now, and I'll reopen it once they fix the problem.

Unt

[2021-06-21 08:53] #845 closed, assigned to nobody

[2021-06-22 10:12] luisherranz commented on #846
Thanks for the report, @codemonkeynorth.

As this is something that is up to the users and not the Frontity framework (even though it would be probably good to have in our starter theme) I'm going to label it as `low-priority` and `good-first-issue`.

PRs are welcomed 🙂

[2021-06-23 15:22] #708 closed, assigned to michalczaplinski

[2021-06-25 01:48] codemonkeynorth opened #854 "Add schema attributes to Html2React"
**Expected behavior**

`itemProp`, `itemScope` and `itemType` should be created on elements

**Observed behavior**

javascript error for `itemprop`, `itemscope` and `itemtype` on html elements

**Steps involved to reproduce the problem**

add eg `<span itemprop="telephone">999</span>` to some HTML content in the database and run Html2React on it

**Possible solution**

add the following attributes

[2021-06-28 02:53] codemonkeynorth commented on #854
was going to add a Pull Request but the contribution docs seem out of date?  https://docs.frontity.org/contributing/code-contribution-guide

Specifically, there is no `examples` folder after running `npm install`

[2021-06-28 06:16] cristianbote commented on #854
That's a good catch @codemonkeynorth! `examples` have been renamed to `projects` 👍

[2021-06-28 07:09] luisherranz commented on #833
@TiborUdvari a friendly reminder here to see if you tried David's proposed solution 🙂

[2021-06-30 05:40] kdong007 opened #855 "is frontity compatible with PNPM?"

[2021-06-30 09:13] luisherranz commented on #855
Hey @kdong007, we've moved all the questions to the community forum. That way, other community members can learn or answer them. Please open a thread in the [Dev Questions](https://community.frontity.org/c/dev-talk-questions/3) category 🙂

[2021-06-30 09:13] #855 closed, assigned to nobody

[2021-06-30 11:06] DAreRodz commented on #854
Hey @codemonkeynorth, if you create a PR, could you add `itemID` and `itemRef` as well? That way we would be fixing all the item-related attributes defined in the HTML spec. :blush:

[2021-06-30 12:55] codemonkeynorth commented on #854
@DAreRodz noted.

Still having trouble with e2e on windows

theoretically I’m only adding some strings and therefore there’s no real need to test everything?

(that part passed anyway, I’m just having trouble with Cypress now)

I know they’re going to pass at the Frontity team end so I may just try commit anyway

[2021-06-30 23:22] kdong007 opened #856 "Can't login to Frontity Community Forum"
![Screen Shot 2021-06-30 at 4 20 06 PM](https://user-images.githubusercontent.com/26269173/124043126-3e2c3e80-d9bf-11eb-96c5-9b0276faaaed.png)

Can't find the "site's administrator" either...

[2021-07-01 08:09] DAreRodz commented on #854
@codemonkeynorth, don't worry about e2e testing, you can add some simple checks in this unit test:

https://github.com/frontity/frontity/blob/0b28d229b278adf97e6953eabb156d0922ba5cac/packages/html2react/src/libraries/__tests__/parse.tests.ts#L19-L28

About running e2e tests on Windows, could you please share the error you got? I have Windows so I can take a look into that.

[2021-07-01 08:41] DAreRodz commented on #856
Hi @kdong007, this is an issue that happens from time to time, and it seems to be a Discourse problem (which is the engine we use for our community). Restarting the computer or clearing browser’s history seems to do the trick. Let us know if that solves the issue.

[2021-07-01 08:43] DAreRodz commented on #856
I'm closing this as it is not code-related, but feel free to continue the conversation. :slightly_smiling_face:

[2021-07-01 08:43] #856 closed, assigned to DAreRodz

[2021-07-03 14:07] codemonkeynorth commented on #854
@DAreRodz  well the first is `Docker is not running. Please start it or use `--wp off`.`

so if i add that last flag I'm getting
[code]

I'm just following the instructions here
https://docs.frontity.org/contributing/code-contribution-guide

[2021-07-03 14:44] codemonkeynorth commented on #854
note we should also maybe add these non-standard items
https://react-cn.github.io/react/docs/tags-and-attributes.html#html-attributes

  "autoCapitalize",
  "autoCorrect",
  "autoSave"

[2021-07-05 15:15] luisherranz commented on #854
Did you run `npm install` in the root folder?

---

@juanmaguitar: Maybe this is a good opportunity to improve our contribution guides 🙂

[2021-07-12 10:52] luisherranz commented on #833
I'm going to close this for now. @TiborUdvari, please reopen it again if you happen to try out what David suggested and it didn't work.

[2021-07-12 10:52] #833 closed, assigned to luisherranz

[2021-08-04 23:22] yiheyang opened #861 "Error when creating new project in China due to the failure on downloading favicon.ico"
**_Bug report_**

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org

**Expected behavior**

**Observed behavior**

**Steps involved to reproduce the pr

[2021-08-05 01:48] yiheyang opened #862 "Can't start dev or build after creating new project"
**_Bug report_**

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org

**Expected behavior**

**Observed behavior**

![image](https://user-images.githubu

[2021-08-05 04:41] ryanmathis commented on #862
I'm having the same issue. I was going to post on the community forum but the login/registration is not working.

[2021-08-05 11:34] JasonS09 commented on #862
I'm having the exact same issue and same is happening to me with the forum login.

[2021-08-05 15:50] cbravobernal commented on #862
Hi @yiheyang! Which npm node version are you using?

I ran the same steps and for me was working fine. Maybe with that info I can try switching to your NodeJS - NPM versions.

<img width="707" alt="Screenshot 2021-08-05 at 17 49 38" src="https://user-images.githubusercontent.com/37012961/128381091-8938358f-6903-4b08-9a45-12d8a5280d75.png">

[2021-08-05 23:52] yiheyang commented on #862
I'm currently running Node LTS v14.17.4.

Make sure you have no package-lock file and better run `npm cache clean --force` before you try.

[2021-08-17 23:38] magcrider commented on #200
I am having the same error on my 2 frontity test installations, I decided to check why and created an about-us page in both and compared it with the default Frontity website https://test.frontity.org/

I found in my installations I am getting `isFetching:true` and `isReady:False` for every WP page when checking `frontity.state.source.data`:
![image](https://user-images.githubusercontent.com/114953

[2021-08-26 14:59] markusilmer opened #864 "wp-source package: missing source params on taxonomy handler"
**_Bug report_**

- [x] I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- [x] I've searched for existing issues.
- [x] I've checked the documentation: https://docs.frontity.org
- [x] I've checked the community forum: https://community.frontity.org

**Expected behavior**

The `state.source.params` should added to t

[2021-09-14 15:01] nicholasio opened #865 "Child pages with same slug as top-level pages can result in 404."
**_Bug report_**
- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org

If you create a top-level page and a child page with the same slug (which WP allows

[2021-09-21 06:13] Akash667 opened #868 "Can't import the named export 'URL' from non EcmaScript module (only default export is available)"
**_Bug report_**

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org

**Expected behavior**
Should have installed all the dependencies

**Observed behav

[2021-09-21 08:02] TreliaGT commented on #868
Having the same issue sadly

[2021-09-21 08:06] therealjgrant commented on #868
Same here, tried Node 14.17.6 & 16.9.1

[2021-09-21 08:07] TreliaGT commented on #868
has something updated lately, I just started learning this today

[2021-09-21 12:47] sainer commented on #868
I have the same problem. Node 14.16.0. I've updated both my project and my packages to the latest Frontity versions and the problem still occurs.

[2021-09-21 13:00] luisherranz commented on #864
Hey @markusilmer, will you be willing to submit a PR for this? 🙂

[2021-09-21 13:11] luisherranz commented on #862
Sorry about this. We fixed an issue with the log-in a few weeks ago so please try again.

[2021-09-21 13:25] luisherranz commented on #868
`node-fetch` recently changed to [ESM only](https://github.com/node-fetch/node-fetch#loading-and-configuring-the-module), maybe it is related to that. I'll take a look.

[2021-09-21 13:31] robrecord commented on #868
@luisherranz I did explore the change to ESM only too, but it doesn't lead anywhere since we're not using version 3 in frontity.

I think this caused because `node-fetch` has a bug in version 2.6.3 and 2.6.4 where they [add an import that doesn't seem to work](https://github.com/node-fetch/node-fetch/commit/ace7536c955556be742d9910566738630cc3c2a6#r56836783).

In that case maybe frontity needs to

[2021-09-21 13:42] #865 closed, assigned to nicholasio

[2021-09-21 15:35] lluisd commented on #868
same issue here for the first time installing it

[2021-09-21 15:40] nicholasio commented on #868
if you explicitly set the version to 2.6.2 by adding node-fetch to package.json does it solve the issue?

[2021-09-21 15:48] luisherranz commented on #868
It does indeed.

Good catch @robrecord 🙂

[2021-09-22 07:19] #868 closed, assigned to luisherranz

[2021-09-22 08:35] lluisd commented on #868
why is closed? is still happening at me... I still have 2.6.1 version in the node_modules frontity package

[2021-09-22 09:03] luisherranz commented on #868
Issues are closed once a fix is merged to the base branch. After that, you need to wait for the next release, which @santosguillamot started 1 hour ago: https://github.com/frontity/frontity/pull/871

[2021-09-22 09:14] SantosGuillamot commented on #868
This is already done 🙂  The issue should be solved now.

[2021-09-22 09:16] luisherranz commented on #868
Thanks Mario!

Please update your Frontity packages using this guide: https://docs.frontity.org/guides/keep-frontity-updated

[2021-09-22 09:37] jeffceriello opened #872 "Cannot convert undefined or null to object"
Hi,

I’m trying to display data on a page with the below

[code]
The flexibleContent prop comes from this component

[code]

It all seems pretty straightforward but I get the following error coming from `content={content}`

`TypeError: Cannot convert undefined or null to object`

I have console.logged `content` and it’s an object with data in it. The strange thing to me is that if I console.log co

[2021-09-22 09:54] #872 closed, assigned to nobody

[2021-09-22 10:46] luisherranz commented on #862
Is someone experiencing this after [upgrading to the latest version](https://docs.frontity.org/guides/keep-frontity-updated) of Frontity?

[2021-09-25 02:28] Ecostack commented on #861
Quite interested in this too! Bump!

[2021-09-28 10:33] rubenlorenzo commented on #846
Hello @luisherranz, I am looking to resolve the bug. Can you assign the issue to me?

[2021-09-28 14:26] luisherranz commented on #846
Done! 🙂

[2021-09-28 18:01] markusilmer commented on #864
Hey @luisherranz, i can try it.
The author handler has the same issue, should I fix it at the same PR?

[2021-09-29 07:52] luisherranz commented on #864
Yes, please 🙂

[2021-10-04 18:36] markusilmer commented on #864
Hey @luisherranz i have a question again.
The pre-commit/lint changed the format of the taxonomy.ts file. Is this OK or is something wrong with my setup?
Here is the commit if you want take a look:
[https://github.com/markusilmer/frontity/commit/7ea3ffa55e6fb71229cd45479169f166f7588969](https://github.com/markusilmer/frontity/commit/7ea3ffa55e6fb71229cd45479169f166f7588969)

[2021-10-05 08:21] luisherranz commented on #864
That's weird. It seems that Prettier is not working.

- What IDE/Editor are you using?
- Does Husky run when you commit?

[2021-10-05 18:28] nicholasio opened #875 "Iframe processors removes props from iframe."
**_Bug report_**

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org

**Expected behavior**

The iframe processor should not strip out valid iframe prop

[2021-10-05 21:34] markusilmer commented on #864
I use VS Code

Yes, Husky run and prettier changes the file.

The prettier version I installed with `npm ci` is 2.4.1 (the latest). With a older version (2.2.1) prettier is happy with the current format.

[2021-10-05 21:50] nicholasio opened #876 "Setting `source.params.per_page` in state breaks previews of published posts."
**_Bug report_**

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org

**Expected behavior**
Post previews of both drafted and published posts should wor

[2021-10-06 19:49] DAreRodz commented on #864
@nicholasio mentioned in https://github.com/frontity/frontity/pull/878#issuecomment-935042098 that the latest version of prettier introduced some "breaking changes". It could be related.

[2021-10-08 11:39] luisherranz commented on #864
It certainly is. Thanks @DAreRodz 🙂

I'll make a quick-fix to pin the `prettier` version in Frontity.

[2021-10-08 15:00] luisherranz commented on #864
I've done a PR: https://github.com/frontity/frontity/pull/879

It'll be merged as soon as someone approves it 🙂

@markusilmer after that just merge `dev` in your branch, remove `node_modules` and do `npm i` again.

[2021-10-11 17:04] #875 closed, assigned to nicholasio

[2021-10-13 09:09] #864 closed, assigned to nobody

[2021-10-13 09:44] rubenlorenzo commented on #846
Hello @luisherranz , I can not pass the linter. The following appears to me:

.../frontity/packages/mars-theme/src/components/nav.js
  4:1  error  Missing JSDoc @returns declaration        jsdoc/require-returns
  9:0  error  Missing JSDoc @param "root0" description  jsdoc/require-param-description

[2021-10-13 12:17] #876 closed, assigned to nicholasio

[2021-10-15 09:15] luisherranz commented on #846
Open a PR and I'll take a look, but it only seems like there is a TSDoc comment missing.

[2021-11-09 20:41] #846 closed, assigned to rubenlorenzo

[2021-11-24 18:54] mrfsrf opened #884 "npx npx frontity create in exsisting folder --use-cwd"
**_Bug report_**

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org

**Expected behavior**
Just because you use  flag --use-cwd in exsisting folder whe

[2022-01-10 06:10] gandhihitesh9 opened #886 "I want to include custom scripts and styles files which is comes with third party library"
Hello peoples,

I need your help.

Thanks in advanced.

I want to include owl carousel into my theme.

So they are providing styles and scripts like below.

[code]

[code]

So my question is how to include these styles and scripts into project?

I have included styles using this global way. but its not optimized way whenever anything changed into page that styles rendering again and again.  [9. St

[2022-01-10 07:56] luisherranz commented on #886
Please, ask in the [Community Forum](https://community.frontity.org/)! Thanks 🙂

[2022-01-10 07:56] #886 closed, assigned to nobody

[2022-01-11 18:43] mike-niemand opened #887 "Frontity makes many calls to the REST API"
Hi All,

Apologies if this isn't a bug. Possibly I am doing something wrong:

I have decoupled instance Frontity configured and serving a site www.cryptobanter.com this is fetching data from a Wordpress REST API on a different server. i.e:

`"state": {
                "source": {
                    "url": "https://og.cryptobanter.com",
                    "params": {
                        "per_

[2022-01-11 19:16] luisherranz commented on #887
Hey Mike, could you please post that question in the [Community Forum](https://community.frontity.org)? Thanks!! 🙂

[2022-01-11 19:16] #887 closed, assigned to nobody

[2022-01-11 19:25] mike-niemand commented on #887
Thanks Luis,

I did post it there but the community forums are so badly attended that
they're not worth using. 😞

On Tue, Jan 11, 2022 at 9:16 PM Luis Herranz ***@***.***>
wrote:

--
Mike Niemand
+27 76 7921547
Softeqa CC No:  2009/222342/23

[2022-01-12 15:03] etheliene commented on #862
I just made a fresh install on the following node / npm Versions:
[code]
I get the same error :/

Even after installing nvm and using Node 16.5.0 it won't do it for me.

[2022-01-13 14:13] luisherranz commented on #862
Does it work with Node 14/12, or doesn't it work at all?

[2022-01-23 05:50] pac96 opened #889 "npm severe security vulnerabilities with frontity"
**_Bug report_**

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org/t/npm-audit-high-severity-vulnerabilities/5444. no one has responded to the relevan

[2022-01-26 09:59] luisherranz commented on #889
Hey @pac96, can you open a PR with the updated `package.json` and `package-lock.json` files?

[2022-02-02 22:01] kasperaamodt commented on #862
Every time I work with Frontity I have to downgrade node to 12.^

[2022-02-10 09:53] Bananicorn opened #891 "Memory Leak issue in regards to SSR"
Upon installing frontity locally with:
- `npx frontity create my-first-frontity-project`,
- choosing any of the two default themes
- Installing dependencies with npm install
- starting it with `npm run build && npm run serve`

It seems as if the node application can't garbage collect all the memory allocated during requests.
It happens naturally when the site is called, but can be seen a bit more

[2022-02-11 10:07] luisherranz commented on #891
Does it keep growing after ~430mb?

[2022-02-11 10:14] Bananicorn commented on #891
Sorry that was a little unclear - yes, it'll just keep growing until running out of memory;

Of course the example with siege is a bit of an extreme one, because it makes ~1000 requests over the course of 30 seconds, but our staging environment crashes over the course of about an hour, with just the healthcheck calling the homepage every few minute or so. (I don't know if I can share our clients's

[2022-02-11 14:58] DonKoko commented on #891
I can confirm I am having the same issue. This causes my local server to crash approx every 15-60 minutes.

[2022-02-11 15:03] luisherranz commented on #891
Ok. Would you mind trying packages one by one to see which one has the leak (or if it's the core)? Then we can trace back to see the exact point in time when that problem was introduced.

[2022-02-11 17:02] Bananicorn commented on #891
I'm sorry, how would I go about that?
the only thing in the packages folder at the moment is the theme itself, but that's probably not what you meant.
I can remove packages from frontity.settings.js, but mostly that just results in the page just crashing.

Is there a theme which only uses the core, so I can add the others step by step and see when it starts leaking?

[2022-02-14 11:52] luisherranz commented on #891
Oh, I guess you can create a minimal theme then. Something like:

[code]

[2022-02-16 13:53] Bananicorn commented on #891
I've got the minimum theme I could observe the leak on here:
[https://github.com/Bananicorn/frontity-memory-leaking-theme](https://github.com/Bananicorn/frontity-memory-leaking-theme)

I only managed to remove `@frontity/html2react`, because if I remove `@frontity/wp-source` or `@frontity/tiny-router` I can't reproduce it anymore.
It's leaking a bit more slowly now, about 2MB per 500 requests.

[2022-02-16 15:27] luisherranz commented on #891
So the memory leak only happens if _both_ are present?

[2022-02-16 15:29] Bananicorn commented on #891
I can't really tell, since I didn't manage to get it to run without the router - at least not yet.

[2022-02-18 15:30] #861 closed, assigned to cbravobernal

[2022-02-22 14:45] qant commented on #889
found 56 vulnerabilities (18 moderate, 38 high) i think its not about just change the package.json... imo

[2022-02-23 10:29] Bananicorn commented on #891
Okay, I got it to run with @frontity/wp-source and @frontity/tiny-router individually, and I can only really reproduce it when both are present.

[2022-02-26 20:36] luisherranz commented on #891
It'd be great if we can narrow it down to the code.

Is it only the package presence? Only by using connect? Or when accessing a specific part of the state?

[2022-03-01 09:54] luisherranz commented on #862
Could you please check if this is fixed now with [the latest release](https://github.com/frontity/frontity/releases/tag/frontity%401.17.2)?

[2022-03-01 16:06] luisherranz commented on #889
I've updated [the ones suggested by GitHub dependabot](https://github.com/frontity/frontity/pulls?q=is%3Apr+is%3Aclosed) in the latest release, but you don't depend on Frontity doing so: you should always [keep your `package-lock.json` up to date](https://itnext.io/fixing-security-vulnerabilities-in-npm-dependencies-in-less-than-3-mins-a53af735261d).

I'm going to close this for now. If you want F

[2022-03-01 16:06] #889 closed, assigned to nobody

[2022-03-03 14:52] husseincak opened #908 "The public directory path of imported assets are not being loaded correctly"
**_Bug report_**

- I've updated both my project and my packages to the latest Frontity versions
- I've searched for existing issues:
-- https://community.frontity.org/t/frontity-release-dynamic-public-path/5790/2
-- https://community.frontity.org/t/imported-image-src-not-being-prepended-with-public-directory-path/5783

**Expected behavior**

Import an static file like an image and load it directl

[2022-03-09 06:41] AsadZahed commented on #908
Have you found the solution or is it being solved?

[2022-03-09 14:10] luisherranz commented on #908
I've opened a PR with a possible fix: https://github.com/frontity/frontity/pull/909

[2022-03-09 14:11] luisherranz commented on #862
Another ping here to see if this was successfully solved in the last release.

[2022-03-10 13:29] SquerlInMyPants opened #910 "frontity Warning: Closing file descriptor 3 on garbage collection"
**_Bug report_**

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org

**Expected behavior**

Create a development server.

**Observed behavior**

![imag

[2022-03-10 15:34] #908 closed, assigned to nobody

[2022-03-25 15:28] orballo opened #912 "Cannot return a custom `robots.txt` file for each site using `afterSSR`"
**_Bug report_**

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org

**Expected behavior**

If I create a handler for `/robots.txt` that handler should

[2022-03-25 23:42] husseincak opened #913 "Static assets that are used as a background in css emit a warning"
**_Bug report_**

- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated
- I've searched for existing issues.
- I've checked the documentation: https://docs.frontity.org
- I've checked the community forum: https://community.frontity.org

**Expected behavior**
Correctly styled rendering on the server side without any wa

[2022-03-28 08:09] luisherranz commented on #912
Ideally, this should be handled by server extensibility: https://community.frontity.org/t/server-extensibility/2810/23?u=luisherranz

[code]

[2022-03-29 08:06] luisherranz commented on #913
Interesting.

It is related to this PR, where we started populating the dynamic public path with `__webpack_public_path__` in the server: https://github.com/frontity/frontity/pull/909

The problem is that setting the correct public path dynamically at request time seemed not possible. I guess we need to find a way to do it. If anyone has experience doing this or wants to give it a try, please do s

[2022-03-29 16:29] kgabor545 opened #914 "Category description sometimes "undefinied""
**_Bug report_**
Category description is undefinied, only page reload fixes it.

**Expected behavior**
always load all description

**Observed behavior**
With my site it looks random, which description is not loading.
On the default test site everything else is undefinied and fixes to "Aleteia" on page reload.

**Steps involved to reproduce the problem**
fresh install, either of the two suggested

[2022-03-30 08:41] luisherranz commented on #913
We can try two things:

- Remove `__webpack_public_path__` declaration from [here](https://github.com/frontity/frontity/blob/dev/packages/core/src/server/public-path.ts) and add it [here](https://github.com/frontity/frontity/blob/dev/packages/core/src/server/middlewares/settings-and-store.ts#L36) (with the correct public path value).
- Try modifying the public path value [here](https://github.com/

[2022-04-11 00:32] johnfrancisli opened #919 "Switch "pageview" to "page_view" to comply with Google's naming standard?"
I'm on the fence on this one here. But thought I'd bring it up and see what others think.

https://github.com/frontity/frontity/blob/ffcd532399aacd8e830ef49d00854dec9acbf12d/packages/google-tag-manager-analytics/src/index.ts#L17

It is a minor issue but referring to: https://developers.google.com/tag-platform/gtagjs/reference/events#page_view, the `pageview` value should ideally be `page_view` to

[2022-04-11 01:40] #919 closed, assigned to nobody

[2022-04-11 01:40] johnfrancisli commented on #919
Looks like page_view is a reserved value I just tried it out and doesn't fire on GTM.

[2022-05-11 09:02] Bananicorn commented on #891
Hello @luisherranz, it's been a while, but I've got some more specific news this time:
Okay, so we've figured out our problem to an extent, but don't have a real solution yet.
**It's the menus fault**
Since we've stopped fetching our menu in the beforeSSR hook, our Server's been running smoothly, without leaking.
Of course now we have the problem that the menu isn't here on page load, which is pre

[2022-05-15 15:02] orballo commented on #913
Dropping this here because the previous solutions do not work.
https://github.com/agoldis/webpack-require-from
Not sure if this plugin would work on server side though. It looks like it only tries to find the variables on `window`.

EDIT: This comment says it works: https://stackoverflow.com/a/58222901. I'll try this next week.

[2022-05-15 18:15] orballo commented on #913
@luisherranz I tried the plugin mentioned in my previous comment but once it is added to the `package.json` and I run `npm i`, I get a bunch of TS errors:

![Screenshot 2022-05-15 at 20 14 15](https://user-images.githubusercontent.com/13615057/168487694-1bceacfe-077b-4e96-966d-dc8fa5297f7e.png)

No idea why this is happening.

I don't know if the option `publicPath: 'auto'` of Webpack 5 would solv

[2022-05-17 08:11] luisherranz commented on #913
What about the things I mentioned in https://github.com/frontity/frontity/issues/913#issuecomment-1082793395? Didn't they work?

[2022-05-17 10:46] orballo commented on #913
@luisherranz Nop they didn't. It looks like webpack needs the variable set at the entry point, before everything else, so changing the variable inside a function has no effect :/

[2022-05-17 20:48] luisherranz commented on #913
I see. I'll try to test `webpack-require-from` and see if I can find a way to solve the TypeScript errors.

[2022-05-19 15:06] luisherranz commented on #913
@orballo you're going to look into this, right?

[2022-05-19 15:08] orballo commented on #913
@luisherranz that is correct :)

[2022-05-20 09:48] orballo commented on #913
@luisherranz Apparently the plugin works well with chunks, but not with other assets. There is an issue open on that: https://github.com/agoldis/webpack-require-from/issues/8

Is there a way to manipulate the emotion compiled string before sending it to the client?

[2022-05-23 10:49] luisherranz commented on #913
I'm not sure how to proceed, to be honest. I've been taking a look myself, but I couldn't find any solution to changing those values at runtime. The variables are there, but changing them doesn't seem to affect the output.

[2022-05-24 14:11] orballo commented on #913
@luisherranz I think we can get rid of this issue preprocessing the CSS.

If we change the way we SSR the styles, like explained [here](https://emotion.sh/docs/ssr#advanced-approach), and we use `@emotion/cache`, which apparently [has an option](https://emotion.sh/docs/@emotion/cache#stylisplugins) to hook [Stylis middleware](https://github.com/thysultan/stylis#middleware), we might be able to rep

[2022-05-24 14:14] luisherranz commented on #913
That sounds promising 🙂

[2022-05-26 18:04] orballo commented on #913
The last solution I proposed doesn't work either. Classes are generated with the styles string before being preprocessed in the cache, so even if it is replaced in the cache, it still triggers the warning.

EDIT: I made it work with a huuuuge hack that I need to test in more scenarios to see if it works.
EDIT 2: I was replacing the hashes of  the classes, but it doesn't work on more complex compon

[2022-05-30 16:22] orballo commented on #912
Now that server extensibility has been released, this issue can be closed.

[2022-05-30 16:22] #912 closed, assigned to orballo

[2022-05-30 16:30] luisherranz commented on #913
Frontity v2 and switch to [Vite](https://vitejs.dev/)? 😄

I don't know, to be honest. My only idea is to debug the final `server.js` file to try to find the exact moment where Webpack is passing the public path to Emotion, and see if there's something we can do at that point. I'm not sure if it's worth the effort, though.

Does `publicPath: auto` solve the problem?

[2022-05-30 17:10] orballo commented on #913
@luisherranz I don't know, but we are updating to Webpack 5 after the WordCamp because we are running already into some conflicts with other packages. So, I'll try after that.

Frontity v2 sounds good, but I have a lot on my plate right now 😆

[2022-07-13 11:42] jagadmitul opened #929 "Cannot apply Tailwind arbitrary values in Frontity"
**_Bug report_**
Custom Tailwind CSS is not applying, like `text-center text-[50px] text-[#eb3a34] mb-[30px]`
I've tried using below packages,
https://github.com/cbfn/frontity-with-tailwind
https://github.com/bradlc/babel-plugin-tailwind-components
but not working
- I've updated both my project and my packages to the latest Frontity versions: https://docs.frontity.org/guides/keep-frontity-updated

[2022-07-18 21:01] hussam-aldarwish opened #930 "Populate CPT entities when fetching author page ("/author/:slug")"
***CPT***
***Bug Report***

#### Expected behavior
Retrieve all cpt items of an author when fetching author's page, eg. ("/author/admin").
Then find all these items populated in state (frontity.state.data["/author/admin"].items) as {id,link,type}[]

#### Observed behavior
I'm only getting entities of type (post).
I've already defined my cpts in frontity.settings.ts file and can access them correct

[2022-08-01 07:48] richhauck commented on #910
I was getting this same error using Node v17. My workaround was to use [Node Version Manager](https://github.com/nvm-sh/nvm) to revert to v16.8.

[2022-09-23 04:59] ghost commented on #913
Hi guys!
I have faced with this issue too...
Have you found a solution for this?

[2022-09-23 17:11] orballo commented on #913
Hi @SergiusNahnoinyi! I'm afraid I couldn't figure out a fix. I was going to try with the `publicPath: 'auto'` setting in Webpack 5, but it didn't work out of the box and I didn't have more resources to dedicate to this issue.

You could give it a try, but I think it is a very long shot. Just in case you want to try, there is a beta branch of Frontity with webpack updated to v5. https://github.com

[2022-09-30 00:38] meaghanbass commented on #913
Is there any update on this?